.InlineMessage {
  display: grid;
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--inline-message-fontSize);
  /* stylelint-disable-next-line primer/typography */
  line-height: var(--inline-message-lineHeight);
  column-gap: 0.5rem;
  grid-template-columns: auto 1fr;
  align-items: start;

  &[data-size='small'] {
    --inline-message-fontSize: var(--text-body-size-small);
    --inline-message-lineHeight: var(--text-body-lineHeight-small, 1.6666);
  }

  &[data-size='medium'] {
    --inline-message-fontSize: var(--text-body-size-medium);
    --inline-message-lineHeight: var(--text-body-lineHeight-medium, 1.4285);
  }

  &[data-variant='warning'] {
    color: var(--fgColor-attention);
  }

  &[data-variant='critical'] {
    color: var(--fgColor-danger);
  }

  &[data-variant='success'] {
    color: var(--fgColor-success);
  }

  &[data-variant='unavailable'] {
    color: var(--fgColor-muted);
  }
}

.InlineMessageIcon {
  min-height: calc(var(--inline-message-lineHeight) * var(--inline-message-fontSize));
}
