@layer primer.react.utilities {
  .VisuallyHidden {
    &:not(:focus):not(:active):not(:focus-within) {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      white-space: nowrap;
      clip-path: inset(50%);
    }
  }
}
