.ErsatzOverlay {
  border-radius: var(--borderRadius-large);
  /* stylelint-disable primer/box-shadow */
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 8px 24px rgba(149, 157, 165, 0.2);
  /* stylelint-enable primer/box-shadow */
  overflow: hidden;
}

.ErsatzOverlay[data-max-width] {
  max-width: var(--ersatz-overlay-max-width);
}

.StyledDivWithWhiteFill > svg {
  /* stylelint-disable-next-line color-named */
  fill: white;
}

.CustomGroupStyle {
  /* stylelint-disable-next-line color-named */
  background-color: cornflowerblue;
  /* stylelint-disable-next-line color-named */
  color: white;
}
