.Card {
  display: grid;
  position: relative;
  border-radius: var(--borderRadius-large);
  overflow: hidden;
  grid-auto-rows: max-content auto;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  box-shadow: var(--shadow-resting-small);
  background-color: var(--bgColor-default);
}

.CardHeader {
  display: block;
  width: 100%;
  height: auto;
  /* stylelint-disable-next-line primer/spacing */
  padding: var(--stack-padding-spacious) var(--stack-padding-spacious) var(--stack-padding-normal)
    var(--stack-padding-spacious);
}

.CardHeaderEdgeToEdge {
  padding: 0;
  margin-bottom: var(--base-size-16);
}

.CardImage {
  display: block;
  width: 100%;
  height: auto;
}

.CardIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--base-size-32);
  height: var(--base-size-32);
  border-radius: var(--borderRadius-medium);
  background-color: var(--bgColor-muted);
  color: var(--fgColor-muted);
}

.CardBody {
  display: grid;
  gap: var(--base-size-16);
  /* stylelint-disable-next-line primer/spacing */
  padding: 0 var(--stack-padding-spacious) var(--stack-padding-spacious) var(--stack-padding-spacious);
}

.CardContent {
  display: grid;
  gap: var(--base-size-8);
}

.CardHeading {
  font-size: var(--text-body-size-large);
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.CardDescription {
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  margin-bottom: 0;
}

.CardMetadataContainer {
  display: flex;
  align-items: center;
  gap: var(--base-size-16);
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
}

.CardMetadataItem {
  display: flex;
  align-items: center;
  gap: var(--base-size-8);
  font: var(--text-body-shorthand-small);
}

.CardMenu {
  position: absolute;
  top: var(--base-size-16);
  right: var(--base-size-16);
  z-index: 1;
}
