.WidthConstraintContainer {
  max-width: 400px;
}

.CustomContentLayout {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-condensed);
}

.CustomContentLayout > h3,
.CustomContentLayout > p,
.CustomContentLayout > ul {
  margin: 0;
}

.CustomContentLayout > ul {
  padding-inline-start: var(--base-size-16);
}
