.button {
  border: 1px solid;
  border-color: var(--color-btn-border);
  border-radius: var(--primer-borderRadius-medium);

  font-weight: var(--base-text-weight-medium);
  font-family: inherit;
  cursor: pointer;
  appearance: none;
  user-select: none;
  text-decoration: none;
  text-align: center;
  display: flex;
  gap: var(--base-size-8);
  align-items: center;
  justify-content: center;
  min-width: max-content;
  transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
  transition-property: color, fill, background-color, border-color;
}

.button:hover {
  text-decoration: none;
}
.button:disabled,
.button[aria-disabled='true'] {
  cursor: default;
}

/* size */
.button[data-size='small'] {
  height: var(--base-size-28);
  padding: 0 var(--base-size-8);
  font-size: var(--font-size-small);
}

.button[data-size='medium'] {
  height: var(--base-size-32);
  padding: 0 var(--base-size-12);
  font-size: var(--body-font-size);
}

.button[data-size='large'] {
  padding: 0 var(--base-size-16);
  height: var(--base-size-40);
  font-size: var(--body-font-size);
}

/* block */
.button[data-block='true'] {
  width: 100%;
}

/* variants: setup */
.button {
  color: var(--prc-btn-text);
  background-color: var(--prc-btn-bg);
  border-color: var(--prc-btn-border);
  box-shadow: var(--prc-btn-shadow);
}
.button:hover:not([disabled]),
.button:focus,
.button:focus-visible {
  color: var(--prc-btn-hover-text, var(--prc-btn-text));
  background-color: var(--prc-btn-hover-bg, var(--prc-btn-bg));
  border-color: var(--prc-btn-hover-border, var(--prc-btn-border));
  box-shadow: var(--prc-btn-active-shadow, var(--prc-btn-shadow));
}
.button:active:not([disabled]) {
  color: var(--prc-btn-active-text, var(--prc-btn-hover-text, var(--prc-btn-text)));
  background-color: var(--prc-btn-active-bg, var(--prc-btn-hover-bg, var(--prc-btn-bg)));
  border-color: var(--prc-btn-active-border, var(--prc-btn-hover-border, var(--prc-btn-border)));
  box-shadow: var(--prc-btn-active-shadow, var(--prc-btn-active-shadow, var(--prc-btn-shadow)));
}
.button:disabled {
  cursor: not-allowed;
  color: var(--prc-btn-disabled-text, var(--prc-btn-text));
  background-color: var(--prc-btn-disabled-bg, var(--prc-btn-bg));
  border-color: var(--prc-btn-disabled-border, var(--prc-btn-border));
}

/* variants: definitions */
.button[data-variant='default'] {
  --prc-btn-text: var(--color-btn-text);
  --prc-btn-bg: var(--color-btn-bg);
  --prc-btn-border: var(--color-btn-border);
  --prc-btn-shadow: var(--color-btn-shadow) var(--color-btn-inset-shadow);

  --prc-btn-hover-bg: var(--color-btn-hover-bg);
  --prc-btn-hover-border: var(--color-btn-hover-border);

  --prc-btn-active-bg: var(--color-btn-active-bg);
  --prc-btn-active-border: var(--color-btn-active-border);

  --prc-btn-disabled-text: var(--color-primer-fg-disabled);
}

.button[data-variant='primary'] {
  --prc-btn-text: var(--color-btn-primary-text);
  --prc-btn-bg: var(--color-btn-primary-bg);
  --prc-btn-border: var(--color-btn-primary-border);
  --prc-btn-shadow: var(--color-btn-primary-shadow) var(--color-btn-primary-inset-shadow);

  --prc-btn-hover-bg: var(--color-btn-primary-hover-bg);
  --prc-btn-hover-border: var(--color-btn-primary-hover-border);

  --prc-btn-active-bg: var(--color-btn-primary-selected-bg);
  --prc-btn-active-shadow: var(--color-btn-primary-selected-shadow);

  --prc-btn-disabled-text: var(--color-btn-primary-disabled-text);
  --prc-btn-disabled-bg: var(--color-btn-primary-disabled-bg);
  --prc-btn-disabled-border: var(--color-btn-primary-disabled-border);

  --prc-btn-counter-text: var(--color-btn-primary-text);
  --prc-btn-counter-bg: var(--color-btn-primary-counter-bg);
}

.button[data-variant='danger'] {
  --prc-btn-text: var(--color-btn-danger-text);
  --prc-btn-bg: var(--color-btn-bg);
  --prc-btn-border: var(--color-btn-border);
  --prc-btn-shadow: var(--color-btn-shadow) var(--color-btn-inset-shadow);

  --prc-btn-hover-text: var(--color-btn-danger-hover-text);
  --prc-btn-hover-bg: var(--color-btn-danger-hover-bg);
  --prc-btn-hover-border: var(--color-btn-danger-hover-border);
  --prc-btn-hover-shadow: var(--color-btn-danger-hover-shadow) var(--color-btn-danger-hover-inset-shadow);

  --prc-btn-hover-color: var(--color-btn-danger-hover-text);
  --prc-btn-hover-bg: var(--color-btn-danger-hover-bg);
  --prc-btn-hover-border: var(--color-btn-danger-hover-border);
  --prc-btn-hover-shadow: var(--color-btn-danger-hover-shadow) var(--color-btn-danger-hover-inset-shadow);

  --prc-btn-active-text: var(--color-btn-danger-selected-text);
  --prc-btn-active-bg: var(--color-btn-danger-selected-bg);
  --prc-btn-active-border: var(--color-btn-danger-selected-border);
  --prc-btn-active-shadow: var(--color-btn-danger-selected-shadow);

  --prc-btn-disabled-text: var(--color-btn-danger-disabled-text);
  --prc-btn-disabled-bg: var(--color-btn-danger-disabled-bg);

  --prc-btn-counter-text: var(--color-btn-danger-text);
  --prc-btn-counter-bg: var(--color-btn-danger-counter-bg);
  --prc-btn-counter-hover-text: var(--color-btn-danger-hover-text);
  --prc-btn-counter-hover-bg: var(--color-btn-danger-hover-counter-bg);
}

.button[data-variant='invisible'] {
  --prc-btn-text: var(--color-accent-fg);
  --prc-btn-bg: transparent;
  --prc-btn-border: transparent;
  --prc-btn-shadow: none;

  --prc-btn-hover-bg: var(--color-btn-hover-bg);
  --prc-btn-active-bg: var(--color-btn-selected-bg);

  --prc-btn-disabled-text: var(--color-primer-fg-disabled);
}

.button[data-variant='outline'] {
  --prc-btn-text: var(--color-btn-outline-text);
  --prc-btn-bg: var(--color-btn-bg);
  --prc-btn-border: var(--color-btn-border);
  --prc-btn-shadow: var(--color-btn-shadow) var(--color-btn-inset-shadow);

  --prc-btn-hover-text: var(--color-btn-outline-hover-text);
  --prc-btn-hover-bg: var(--color-btn-outline-hover-bg);
  --prc-btn-hover-border: var(--color-btn-outline-hover-border);
  --prc-btn-hover-shadow: var(--color-btn-outline-hover-shadow) var(--color-btn-outline-hover-inset-shadow);

  --prc-btn-active-text: var(--color-btn-outline-selected-text);
  --prc-btn-active-bg: var(--color-btn-outline-selected-bg);
  --prc-btn-active-border: var(--color-btn-outline-selected-border);
  --prc-btn-active-shadow: var(--color-btn-outline-selected-shadow);

  --prc-btn-disabled-text: var(--color-btn-outline-disabled-text);
  --prc-btn-disabled-bg: var(--color-btn-outline-disabled-bg);

  --prc-btn-counter-text: var(--color-btn-outline-text);
  --prc-btn-counter-bg: var(--color-btn-outline-counter-bg);
  --prc-btn-counter-hover-text: var(--color-btn-outline-hover-text);
  --prc-btn-counter-hover-bg: var(--color-btn-outline-hover-counter-bg);
}

/* trailing action */
.button [data-component='trailingAction'] {
  margin-right: calc(-1 * var(--base-size-4));
}

/* counter */
.counter {
  color: var(--prc-btn-counter-text, var(--color-btn-text));
  background-color: var(--prc-btn-counter-bg, var(--color-neutral-muted));
}
.button:hover:not([disabled]) .counter,
.button:focus .counter,
.button:focus-visible .counter {
  color: var(--prc-btn-counter-hover-text, var(--prc-btn-counter-text, var(--color-btn-text)));
  background-color: var(--prc-btn-counter-hover-bg, var(--prc-btn-counter-bg, var(--color-neutral-muted)));
}
.button:disabled .counter {
  color: inherit;
}
