.Box_0 {
  display: grid;
  place-items: center;
  background: var(--bgColor-inset);
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
}
