.LabelAndCaptionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-4);
}

@media screen and (min-width: 768px) {
  .LabelAndCaptionContainer {
    flex-direction: row;
  }
}

.LabelAndCaption {
  flex-grow: 1;
}

.TextLargeBold {
  display: block;
  font-size: var(--text-body-size-large);
  font-weight: var(--base-text-weight-semibold);
}

.TextMediumSubtle {
  display: block;
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
}
