# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'cron'
      cronjob: '0 * * * *'
    versioning-strategy: increase
    labels:
      - 'dependencies'
      - 'skip changeset'
    allow:
      - dependency-name: '@primer/*'
      - dependency-name: '@github/*'
    groups:
      primer:
        patterns:
          - '@primer/*'
      github:
        patterns:
          - '@github/*'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    versioning-strategy: increase
    labels:
      - 'dependencies'
      - 'skip changeset'
    groups:
      babel:
        patterns:
          - '@babel/*'
          - 'babel-plugin-*'
      eslint:
        patterns:
          - '@eslint/*'
          - 'eslint'
          - 'eslint-plugin-*'
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - 'react-is'
          - '@types/react'
          - '@types/react-dom'
          - '@types/react-is'
      rollup:
        patterns:
          - '@rollup/*'
          - 'rollup'
          - 'rollup-plugin-*'
      storybook:
        patterns:
          - '@storybook/*'
          - 'storybook'
      vitest:
        patterns:
          - '@vitest/*'
          - 'vitest'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    labels:
      - 'dependencies'
      - 'skip changeset'
