.List {
  position: relative;
  display: flex;
  min-width: 0;

  /* wonder why this is here */
  /* stylelint-disable-next-line primer/spacing */
  margin-bottom: -1px;
  white-space: nowrap;
  list-style: none;
  align-items: center;
  gap: var(--base-size-8);
}

.Nav {
  display: flex;
  padding-inline: var(--base-size-16);
  justify-content: flex-end;
  align-items: center;

  &:where([data-flush='true']) {
    padding-inline: 0;
  }
}

.Divider {
  &::before {
    display: block;
    width: var(--borderWidth-thin);
    height: var(--base-size-20);
    content: '';
    /* stylelint-disable-next-line primer/colors */
    background: var(--borderColor-muted);
  }
}

.Menu {
  .Divider {
    &::before {
      border: 0;
      height: var(--borderWidth-thin, .0625rem);
      margin-block-end: var(--base-size-8, .5rem);
      margin-block-start: calc(var(--base-size-8, .5rem) - var(--borderWidth-thin, .0625rem));
      padding: 0;
      width: unset;
    }
  }
}

.Group {
  display: flex;
  gap: inherit;
}
