{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "macros",
    "add-react-displayname"
  ],
  "env": {
    "test": {
      "presets": [
        ["next/babel", {"preset-env": {"modules": "commonjs"}}]
      ],
      "plugins": [
        ["babel-plugin-styled-components"]
      ]
    }
  }
}
