{
  "plugins": [
    "macros",
    "add-react-displayname",
    "babel-plugin-styled-components"
  ],
  "env": {
    "test": {
      "presets": [
        [{"preset-env": {"modules": "commonjs"}}]
      ]
    }
  }
}
