# Build folders
dist/
lib/
!codemods/lib/
lib-esm/
css/
/generated

# Editor
.DS_Store
*.swp
.idea
.vscode
.tool-versions

# Environment
.env

# Dependencies
node_modules

# Gatsby
public/

# Storybook
storybook-static

# Next.js
.next

# Jest
.test
coverage/

# Playwright
stats.html
blob-report
