# Build folders
dist/
css/

# Editor
.DS_Store
*.swp
.idea
.tool-versions

# Environment
.env

# Dependencies
node_modules

# Local agent workspaces
.agents

# Gatsby
public/

# Storybook
storybook-static

# Next.js
.next

# Jest
.test
coverage/

# Playwright
stats.html
blob-report
results.json

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# Stylelint
.stylelintcache

# CSS modules type definitions
*.module.css.d.ts

# Vitest
**/__screenshots__/**

# Turbo
.turbo
