save=true
# we create our tags in Releases now
git-tag-version=false
legacy-peer-deps=true
fetch-retries=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
# https://docs.npmjs.com/cli/v11/using-npm/config#min-release-age
min-release-age=7
