save=true
# we create our tags in Releases now
git-tag-version=false
fetch-retries=5
fetch-retry-mintimeout=300000
fetch-retry-maxtimeout=300000
auto-install-peers=true
strict-peer-dependencies=false
link-workspace-packages=true
prefer-workspace-packages=true
