.LoadingExample {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5em;
}

.LoadingIndicator {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.LoadButton {
  margin-bottom: 1em;
}