.Root {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-condensed);
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-16);
  margin-left: var(--base-size-32);
  margin-right: var(--base-size-32);
}

.Container {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-radius: var(--borderRadius-large);
  box-shadow: var(--shadow-floating-small);
}

.ProgressBar {
  margin-top: var(--base-size-4);
}
