.Root {
  display: flex;
  flex-direction: column;
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-16);
  margin-left: var(--base-size-32);
  margin-right: var(--base-size-32);
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--base-size-4);
  background-color: var(--bgColor-muted);
  padding: var(--base-size-16) var(--base-size-24);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
}

.HeaderRow {
  display: flex;
  flex-direction: row;
  gap: var(--base-size-6);
  justify-content: flex-start;
  align-items: center;
}

.HeaderColumn {
  display: flex;
  gap: var(--base-size-4);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.Container {
  flex: 1;
  display: flex;
  overflow: auto;
  max-height: 300px;
  padding: var(--base-size-16);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-top: none;
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: var(--base-size-12) var(--base-size-24);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-top: none;
  border-bottom-left-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
}

.Box {
  flex: 1;
  display: flex;
  min-height: min-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
