.NotificationIndicator {
  position: relative;

  &::before {
    position: absolute;
    top: calc(var(--base-size-4) / -2);
    right: calc(var(--base-size-4) / -2);
    display: block;
    width: var(--base-size-8);
    height: var(--base-size-8);
    content: '';
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--fgColor-accent);
    border-radius: var(--borderRadius-full);
    /* stylelint-disable-next-line primer/box-shadow */
    box-shadow: 0 0 0 calc(var(--base-size-4) / 2) var(--bgColor-inset);
  }
}
