.HeaderDev {
  /* stylelint-disable-next-line primer/colors */
  color: var(--prettylights-syntax-carriageReturn-text, var(--color-prettylights-syntax-carriage-return-text));
  /* stylelint-disable-next-line primer/no-display-colors */
  background-color: var(--display-pine-bgColor-emphasis);
}

.HeaderDevItem {
  padding-left: var(--base-size-24);
}

.HeaderDevLink {
  /* stylelint-disable-next-line primer/colors */
  color: var(--prettylights-syntax-carriageReturn-text, var(--color-prettylights-syntax-carriage-return-text));
}

.Icon {
  margin-right: var(--base-size-8);
}
