.HeaderDev {
  background-color: var(--display-pine-bgColor-emphasis);
  color: var(--color-prettylights-syntax-carriage-return-text)
}

.HeaderDevItem {
  padding-left: var(--base-size-24);
}

.HeaderDevLink {
  color: var(--color-prettylights-syntax-carriage-return-text);
}
