.Heading {
  margin: 0;
  font-size: var(--text-title-size-large);
  font-weight: var(--base-text-weight-semibold);
}

.Heading:where([data-variant='large']) {
  font: var(--text-title-shorthand-large);
}

.Heading:where([data-variant='medium']) {
  font: var(--text-title-shorthand-medium);
}

.Heading:where([data-variant='small']) {
  font: var(--text-title-shorthand-small);
}
