.TopicTag {
  background-color: var(--bgColor-accent-muted);
  color: var(--fgColor-accent);
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
  /* --text-body-lineHeight-small */
  /* stylelint-disable-next-line primer/typography */
  line-height: 1.66667;
  border-radius: var(--borderRadius-full);
  padding: var(--base-size-2) var(--base-size-12);
  border: var(--borderWidth-thin) solid var(--topicTag-borderColor, transparent);
  display: inline-flex;
  white-space: nowrap;

  &:hover {
    background-color: var(--bgColor-accent-emphasis);
    color: var(--fgColor-onEmphasis);
  }
}

/* Add a reset to when TopicTag is an <a> element since our link styles apply an underline text-decoration by default */
/* stylelint-disable-next-line selector-no-qualifying-type */
:where(a.TopicTag) {
  text-decoration: none;
}
