@define-mixin activeIndicatorLine {
  position: absolute;
  top: var(--base-size-4);
  left: calc(-1 * var(--base-size-8));
  width: var(--base-size-4);
  height: calc(100% - var(--base-size-8));
  content: '';
  /* stylelint-disable-next-line primer/colors */
  background: var(--borderColor-accent-emphasis);
  border-radius: var(--borderRadius-medium);
}
