/* outline with fg box-shadow for buttons */
@define-mixin focusOutlineOnEmphasis $outlineOffset: -2px, $outlineColor: var(--focus-outlineColor) {
  outline: 2px solid $outlineColor;
  outline-offset: $outlineOffset;
  box-shadow: inset 0 0 0 3px var(--fgColor-onEmphasis);
}
