/* Base styles -------------------------------------------------------------- */
.ButtonBase {
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-thin) solid;
  border-color: var(--button-default-borderColor-rest);
  font-family: inherit;
  font-weight: var(--base-text-weight-medium);
  font-size: var(--text-body-size-medium);
  cursor: pointer;
  appearance: none;
  user-select: none;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0 12px;
  gap: 8px;
  min-width: max-content;
  transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
  transition-property: color, fill, background-color, border-color;
}

.ButtonBase[href] {
  display: inline-flex;
}

.ButtonBase[href]:hover {
  text-decoration: none;
}

.ButtonBase:hover {
  transition-duration: 80ms;
}

.ButtonBase:active {
  transition: none;
}

.ButtonBase[data-inactive] {
  cursor: auto;
}

.ButtonBase:disabled {
  cursor: not-allowed;
  box-shadow: none;
}

@media (forced-colors: active) {
  .ButtonBase:focus {
    outline: solid 1px transparent;
  }
}

.ButtonBase[data-component='ButtonCounter'] {
  font-size: var(--text-body-size-small);
}

.ButtonBase[data-component='IconButton'] {
  display: inline-grid;
  padding: unset;
  place-content: center;
  width: 32px;
  min-width: unset;
}

.ButtonBase[data-size='small'] {
  padding: 0 8px;
  height: 28px;
  gap: 4px;
  font-size: var(--text-body-size-small);
}

.ButtonBase[data-size='small'] [data-component='text'] {
  line-height: calc(20 / 12);
}

.ButtonBase[data-size='small'] [data-component='ButtonCounter'] {
  font-size: var(--text-body-size-small);
}

.ButtonBase[data-size='small'] [data-component='buttonContent'] > :not(:last-child) {
  margin-right: 4px;
}

.ButtonBase[data-size='small'][data-component='IconButton'] {
  width: 28px;
  padding: unset;
}

.ButtonBase[data-size='large'] {
  padding: 0 16px;
  height: 40px;
  gap: 8px;
}

.ButtonBase[data-size='large'] [data-component='buttonContent'] > :not(:last-child) {
  margin-right: 8px;
}

.ButtonBase[data-size='large'][data-component='IconButton'] {
  width: 40px;
  padding: unset;
}

/* Button styles ------------------------------------------------------------ */
.ButtonBase[data-block='block'] {
  width: 100%;
}

.ButtonBase[data-label-wrap='true'] {
  min-width: fit-content;
  height: unset;
  min-height: var(--control-medium-size, 2rem);
}

.ButtonBase[data-label-wrap='true'] [data-component='buttonContent'] {
  flex: 1 1 auto;
  align-self: stretch;
  padding-block: calc(var(--control-medium-paddingBlock, 0.375rem) - 2px);
}

.ButtonBase[data-label-wrap='true'] [data-component='text'] {
  white-space: unset;
  word-break: break-word;
}

.ButtonBase[data-label-wrap='true'][data-size='small'] {
  height: unset;
  min-height: var(--control-small-size, 1.75rem);
}

.ButtonBase[data-label-wrap='true'][data-size='small'] [data-component='buttonContent'] {
  padding-block: calc(var(--control-small-paddingBlock, 0.25rem) - 2px);
}

.ButtonBase[data-label-wrap='true'][data-size='large'] {
  height: unset;
  min-height: var(--control-large-size, 2.5rem);
  padding-inline: var(--control-large-paddingInline-spacious, 1rem);
}

.ButtonBase[data-label-wrap='true'][data-size='large'] [data-component='buttonContent'] {
  padding-block: calc(var(--control-large-paddingBlock, 0.625rem) - 2px);
}

.ButtonBase[data-inactive]:not([disabled]) {
  background-color: var(--button-inactive-bgColor);
  border-color: var(--button-inactive-bgColor);
  color: var(--button-inactive-fgColor);
}

.ButtonBase[data-inactive]:not([disabled]):focus-visible {
  box-shadow: none;
}

.ButtonBase[data-component='leadingVisual'] {
  grid-area: leadingVisual;
}

.ButtonBase [data-component='text'] {
  grid-area: text;
  line-height: calc(20 / 14);
  white-space: nowrap;
}

.ButtonBase [data-component='trailingVisual'] {
  grid-area: trailingVisual;
}

.ButtonBase [data-component='trailingAction'] {
  margin-right: -4px;
}

.ButtonBase [data-component='buttonContent'] {
  flex: 1 0 auto;
  display: grid;
  grid-template-areas: 'leadingVisual text trailingVisual';
  grid-template-columns: min-content minmax(0, auto) min-content;
  align-items: center;
  align-content: center;
}

.ButtonBase [data-component='buttonContent'] > :not(:last-child) {
  margin-right: 8px;
}

/* Variants ----------------------------------------------------------------- */

/* Default Variant */
.ButtonBase[data-variant='default'] {
  color: var(--button-default-fgColor-rest);
  background-color: var(--button-default-bgColor-rest);
  box-shadow: var(--button-default-shadow-resting), var(--button-default-shadow-inset);
}

.ButtonBase[data-variant='default']:hover:not([disabled]):not([data-inactive]) {
  background-color: var(--button-default-bgColor-hover);
  border-color: var(--button-default-borderColor-hover);
}

.ButtonBase[data-variant='default']:active:not([disabled]):not([data-inactive]) {
  background-color: var(--button-default-bgColor-active);
  border-color: var(--button-default-borderColor-active);
}

.ButtonBase[data-variant='default']:disabled {
  color: var(--primer-fg-disabled);
  border-color: var(--button-default-borderColor-disabled);
  background-color: var(--button-default-bgColor-disabled);
}

.ButtonBase[data-variant='default']:disabled [data-component='ButtonCounter'] {
  color: inherit;
}

.ButtonBase[data-variant='default'][aria-expanded='true'] {
  background-color: var(--button-default-bgColor-active);
  border-color: var(--button-default-borderColor-active);
}

.ButtonBase[data-variant='default'] [data-component='leadingVisual'],
.ButtonBase[data-variant='default'] [data-component='trailingVisual'],
.ButtonBase[data-variant='default'] [data-component='trailingAction'] {
  color: var(--fgColor-muted);
}

.ButtonBase[data-variant='default'] [data-component='ButtonCounter'] {
  background-color: var(--buttonCounter-default-bgColor-rest);
}

/* Primary Variant */
.ButtonBase[data-variant='primary'] {
  color: var(--button-primary-fgColor-rest);
  background-color: var(--button-primary-bgColor-rest);
  border-color: var(--button-primary-borderColor-rest);
  box-shadow: var(--shadow-resting-small);
}

.ButtonBase[data-variant='primary']:hover:not([disabled]):not([data-inactive]) {
  background-color: var(--button-primary-bgColor-hover);
  border-color: var(--button-primary-borderColor-hover);
}

.ButtonBase[data-variant='primary']:focus:not([disabled]),
.ButtonBase[data-variant='primary']:focus-visible:not([disabled]) {
  box-shadow: inset 0 0 0 3px;
}

.ButtonBase[data-variant='primary']:active:not([disabled]):not([data-inactive]) {
  background-color: var(--button-primary-bgColor-active);
  box-shadow: var(--button-primary-shadow-selected);
}

.ButtonBase[data-variant='primary']:disabled {
  color: var(--button-primary-fgColor-disabled);
  background-color: var(--button-primary-bgColor-disabled);
  border-color: var(--button-primary-borderColor-disabled);
}

.ButtonBase[data-variant='primary']:disabled [data-component='ButtonCounter'] {
  color: inherit;
}

.ButtonBase[data-variant='primary'] [data-component='ButtonCounter'] {
  background-color: var(--buttonCounter-primary-bgColor-rest);
  color: inherit;
}

.ButtonBase[data-variant='primary'][aria-expanded='true'] {
  background-color: var(--button-primary-bgColor-selected);
  box-shadow: var(--button-primary-shadow-selected);
}

/* Danger Variant */
.ButtonBase[data-variant='danger'] {
  color: var(--button-danger-fgColor-rest);
  background-color: var(--button-danger-bgColor-rest);
  box-shadow: var(--button-default-shadow-resting);
}

.ButtonBase[data-variant='danger']:hover:not([disabled]):not([data-inactive]) {
  color: var(--button-danger-fgColor-hover);
  background-color: var(--button-danger-bgColor-hover);
  border-color: var(--button-danger-borderColor-hover);
  box-shadow: var(--shadow-resting-small);
}

.ButtonBase[data-variant='danger']:active:not([disabled]):not([data-inactive]) {
  color: var(--button-danger-fgColor-active);
  background-color: var(--button-danger-bgColor-active);
  border-color: var(--button-danger-borderColor-active);
  box-shadow: var(--button-danger-shadow-selected);
}

.ButtonBase[data-variant='danger']:disabled {
  color: var(--button-danger-fgColor-disabled);
  background-color: var(--button-danger-bgColor-disabled);
  border-color: var(--button-default-borderColor-disabled, var(--button-border));
}

.ButtonBase[data-variant='danger'] [data-component='ButtonCounter'] {
  background-color: var(--buttonCounter-danger-bgColor-rest);
  color: var(--buttonCounter-danger-fgColor-rest);
}

.ButtonBase[data-variant='danger']:active:not([disabled]):not([data-inactive]) [data-component='ButtonCounter'] {
  background-color: var(--buttonCounter-danger-bgColor-hover);
  color: var(--buttonCounter-danger-fgColor-hover);
}

.ButtonBase[data-variant='danger']:hover:not([disabled]):not([data-inactive]) [data-component='ButtonCounter'] {
  background-color: var(--buttonCounter-danger-bgColor-hover);
  color: var(--buttonCounter-danger-fgColor-hover);
}

.ButtonBase[data-variant='danger']:disabled [data-component='ButtonCounter'] {
  color: var(--buttonCounter-danger-fgColor-disabled);
  background-color: var(--buttonCounter-danger-fgColor-disabled);
}

.ButtonBase[data-variant='danger'][aria-expanded='true'] {
  color: var(--button-danger-fgColor-active);
  background-color: var(--button-danger-bgColor-active);
  border-color: var(--button-danger-borderColor-active);
  box-shadow: var(--button-danger-shadow-selected);
}

/* Invisible Variant */
.ButtonBase[data-variant='invisible'] {
  color: var(--button-default-fgColor-rest);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.ButtonBase[data-variant='invisible']:hover:not([disabled]) {
  background-color: var(--button-invisible-bgColor-hover);
}

.ButtonBase[data-variant='invisible']:active:not([disabled]) {
  background-color: var(--button-invisible-bgColor-active);
}

.ButtonBase[data-variant='invisible']:disabled {
  background-color: var(--button-invisible-bgColor-disabled);
  border-color: var(--button-invisible-borderColor-disabled);
  color: var(--button-invisible-fgColor-disabled);
}

.ButtonBase[data-variant='invisible']:disabled [data-component='ButtonCounter'],
.ButtonBase[data-variant='invisible']:disabled [data-component='leadingVisual'],
.ButtonBase[data-variant='invisible']:disabled [data-component='trailingVisual'] {
  color: inherit;
}

.ButtonBase[data-variant='invisible'][aria-expanded='true'] {
  background-color: var(--button-invisible-bgColor-active);
}

.ButtonBase[data-variant='invisible'] [data-component='trailingVisual'],
.ButtonBase[data-variant='invisible'] [data-component='leadingVisual'] {
  color: var(--button-invisible-iconColor-rest);
}

.ButtonBase[data-variant='invisible']:hover [data-component='trailingVisual'],
.ButtonBase[data-variant='invisible']:hover [data-component='leadingVisual'] {
  color: var(--button-invisible-iconColor-hover);
}

.ButtonBase[data-variant='invisible']:active [data-component='trailingVisual'],
.ButtonBase[data-variant='invisible']:active [data-component='leadingVisual'] {
  color: var(--button-invisible-iconColor-active);
}

.ButtonBase[data-variant='invisible']:disabled [data-component='trailingVisual'],
.ButtonBase[data-variant='invisible']:disabled [data-component='leadingVisual'] {
  color: var(--button-invisible-iconColor-disabled);
}

.ButtonBase[data-variant='invisible']:has([data-component='ButtonCounter']) {
  color: var(--buttonCounter-invisible-bgColor-rest);
}
