.ExternalLabel {
  border-bottom: var(--borderWidth-default) solid var(--borderColor-default);
  padding-bottom: var(--base-size-8);
  margin-bottom: var(--base-size-16);
  font-size: var(--text-title-size-medium);
}
