.Heading {
  margin-block-end: var(--base-size-8);
  /* stylelint-disable-next-line primer/spacing */
  margin-inline-start: calc(var(--control-medium-paddingInline-condensed) + var(--base-size-8));
}

.GroupHeading > a {
  color: var(--fgColor-default);
  text-decoration: inherit;
}

.GroupHeading > a:hover {
  text-decoration: underline;
}

.SubNavToggle > [aria-expanded='true'] svg {
  transform: scaleY(-1);
}

.LinkedSubNavItem[data-component='ActionList.Item'] {
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content;

  & > [data-component='ActionList.TrailingAction'] {
    grid-area: auto;
    grid-row: 1;
    grid-column: 2;
  }

  & > [data-component='NavList.SubNav'] {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}
