.BreadcrumbsBase {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.BreadcrumbsList {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

[data-overflow='menu'] .BreadcrumbsList {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.BreadcrumbsItem {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  flex: 0 99999 auto;
  min-width: auto;
  font-size: var(--text-body-size-medium);
  white-space: nowrap;
  list-style: none;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    .ItemSeparator {
      display: none;
    }
  }
}

[data-overflow='menu'] .Item {
  display: inline-block;
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-link);
  text-decoration: none;
  padding-inline: var(--base-size-6);
  padding-block: var(--base-size-4);
  border-radius: var(--borderRadius-medium);

  &:hover {
    background: var(--control-transparent-bgColor-hover);
  }

  &:focus {
    box-shadow: none;
    outline: 2px solid var(--focus-outlineColor, var(--color-accent-fg));
    outline-offset: -2px;
  }
}

.MenuSummary {
  list-style: none;
  display: inline-block;
  outline: none;
}

.MenuSummary::-webkit-details-marker {
  display: none;
}

.MenuDetails {
  position: relative;
  display: inline-block;
}

.MenuDetails summary {
  list-style: none;
  cursor: pointer;
  outline: none;
}

.MenuDetails summary::-webkit-details-marker {
  display: none;
}

.MenuOverlay {
  position: absolute;
  z-index: 1;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
  background-color: var(--overlay-bgColor);
  list-style: none;
  width: max-content;
}

.ItemSeparator {
  color: var(--fgColor-muted);
  display: flex;
  align-self: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
}

.ItemWrapper {
  display: inline-block;
  font-size: var(--text-body-size-medium);
  white-space: nowrap;
  list-style: none;

  &::after {
    display: inline-block;
    height: 0.8em;
    /* stylelint-disable-next-line primer/spacing */
    margin: 0 0.5em;
    font-size: var(--text-body-size-medium);
    content: '';
    /* stylelint-disable-next-line primer/borders, primer/colors */
    border-right: 0.1em solid var(--fgColor-muted);
    transform: rotate(15deg) translateY(0.0625em);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
}

.Item {
  display: inline-block;
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-link);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.ItemSelected {
  color: var(--fgColor-default);
  pointer-events: none;

  &:focus {
    text-decoration: none;
  }
}
