.EditableInput {
  min-width: '120px';
  max-width: '180px';
  font-size: 'inherit';
  border: 1px dashed var(--borderColor-muted);

  &:focus {
    border: 1px solid var(--borderColor-accent-emphasis);
  }
}
