.CloseButton {
  flex-shrink: 0;
}

.OverlayToggle_Container {
  display: flex;
  align-items: flex-start;
}

.OverlayToggle_LabelWrapper {
  gap: var(--base-size-4);
  display: flex;
  flex-wrap: wrap;
}
