@layer primer.components.Checkbox {
  .Checkbox {
    border-radius: var(--borderRadius-small);

    /* checked -> unchecked - add 120ms delay to fully see animation-out */
    transition:
      background-color,
      border-color 80ms cubic-bezier(0.33, 1, 0.68, 1);

    &::before {
      width: var(--base-size-16);
      height: var(--base-size-16);
      visibility: hidden;
      content: '';
      /* stylelint-disable-next-line primer/colors */
      background-color: var(--fgColor-onEmphasis);
      transition: visibility 0s linear 230ms;
      clip-path: inset(var(--base-size-16) 0 0 0);
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTEuNzgwMyAwLjIxOTYyNUMxMS45MjEgMC4zNjA0MjcgMTIgMC41NTEzMDUgMTIgMC43NTAzMTNDMTIgMC45NDkzMjEgMTEuOTIxIDEuMTQwMTkgMTEuNzgwMyAxLjI4MUw0LjUxODYgOC41NDA0MkM0LjM3Nzc1IDguNjgxIDQuMTg2ODIgOC43NiAzLjk4Nzc0IDguNzZDMy43ODg2NyA4Ljc2IDMuNTk3NzMgOC42ODEgMy40NTY4OSA4LjU0MDQyTDAuMjAxNjIyIDUuMjg2MkMwLjA2ODkyNzcgNS4xNDM4MyAtMC4wMDMzMDkwNSA0Ljk1NTU1IDAuMDAwMTE2NDkzIDQuNzYwOThDMC4wMDM1NTIwNSA0LjU2NjQzIDAuMDgyMzg5NCA0LjM4MDgxIDAuMjIwMDMyIDQuMjQzMjFDMC4zNTc2NjUgNC4xMDU2MiAwLjU0MzM1NSA0LjAyNjgxIDAuNzM3OTcgNC4wMjMzOEMwLjkzMjU4NCA0LjAxOTk0IDEuMTIwOTMgNC4wOTIxNyAxLjI2MzM0IDQuMjI0ODJMMy45ODc3NCA2Ljk0ODM1TDEwLjcxODYgMC4yMTk2MjVDMTAuODU5NSAwLjA3ODk5MjMgMTEuMDUwNCAwIDExLjI0OTUgMEMxMS40NDg1IDAgMTEuNjM5NSAwLjA3ODk5MjMgMTEuNzgwMyAwLjIxOTYyNVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=');
      mask-size: 75%;
      mask-repeat: no-repeat;
      mask-position: center;
      animation: checkmarkOut 80ms cubic-bezier(0.65, 0, 0.35, 1) forwards;
    }

    &:checked,
    &:indeterminate {
      background: var(--control-checked-bgColor-rest);

      /* using bgColor here to avoid a border change in dark high contrast */
      /* stylelint-disable-next-line primer/colors */
      border-color: var(--control-checked-bgColor-rest);

      &::before {
        animation: checkmarkIn 80ms cubic-bezier(0.65, 0, 0.35, 1) forwards 80ms;
      }

      &:disabled {
        background-color: var(--control-checked-bgColor-disabled);
        border-color: var(--control-checked-borderColor-disabled);
        opacity: 1;

        &::before {
          /* stylelint-disable-next-line primer/colors */
          background-color: var(--control-checked-fgColor-disabled);
        }
      }

      /* Windows High Contrast mode */
      @media (forced-colors: active) {
        background-color: canvastext;
        border-color: canvastext;
      }
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:checked {
      transition:
        background-color,
        border-color 80ms cubic-bezier(0.32, 0, 0.67, 0) 0ms;

      &::before {
        visibility: visible;
        transition: visibility 0s linear 0s;
      }
    }

    &:indeterminate {
      background: var(--control-checked-bgColor-rest);

      &::before {
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEwIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMCAxQzAgMC40NDc3MTUgMC40NDc3MTUgMCAxIDBIOUM5LjU1MjI5IDAgMTAgMC40NDc3MTUgMTAgMUMxMCAxLjU1MjI4IDkuNTUyMjkgMiA5IDJIMUMwLjQ0NzcxNSAyIDAgMS41NTIyOCAwIDFaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
        visibility: visible;
      }
    }

    &:focus-visible:not(:disabled) {
      @mixin focusOutline 2px;
    }
  }

  @keyframes checkmarkIn {
    from {
      clip-path: inset(var(--base-size-16) 0 0 0);
    }

    to {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes checkmarkOut {
    from {
      clip-path: inset(0 0 0 0);
    }

    to {
      clip-path: inset(var(--base-size-16) 0 0 0);
    }
  }
}
