.Label {
  align-self: flex-start;
  display: block;
  color: var(--fgColor-default);
  cursor: pointer;
  font-weight: 600;
  font-size: var(--text-body-size-medium);

  &:where([data-control-disabled]) {
    color: var(--fgColor-muted);
    cursor: not-allowed;
  }

  &:where([data-visually-hidden]) {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.RequiredText {
  display: flex;
  column-gap: var(--base-size-4);
}
