/**/
[data-color-mode='light'][data-light-theme^='light'],
[data-color-mode='auto'][data-dark-theme^='light'] {
  --label-bgColor-pink: #ffe5f1; /* 0 */
  --label-bgColor-pink-hover: #fdc9e2; /* 1 */
  --label-fgColor-pink: #8e2e66; /* 7 */
  --label-bgColor-plum: #f8e5ff;
  --label-bgColor-plum-hover: #f0cdfe;
  --label-fgColor-plum: #7d1eb8;
  --label-bgColor-purple: #f1e5ff;
  --label-bgColor-purple-hover: #e6d2fe;
  --label-fgColor-purple: #6223d7;
  --label-bgColor-indigo: #e5e9ff;
  --label-bgColor-indigo-hover: #d2d7fe;
  --label-fgColor-indigo: #393cd5;
  --label-bgColor-blue: #d1f0ff;
  --label-bgColor-blue-hover: #ade1ff;
  --label-fgColor-blue: #004db3;
  --label-bgColor-cyan: #bdf4ff;
  --label-bgColor-cyan-hover: #7ae9ff;
  --label-fgColor-cyan: #00596b;
  --label-bgColor-teal: #c7f5ef;
  --label-bgColor-teal-hover: #89ebe1;
  --label-fgColor-teal: #0d5b63;
  --label-bgColor-pine: #bff8db;
  --label-bgColor-pine-hover: #80efb9;
  --label-fgColor-pine: #135d41;
  --label-bgColor-green: #caf7ca;
  --label-bgColor-green-hover: #9ceda0;
  --label-fgColor-green: #54d961;
  --label-bgColor-lime: #e3f2b5;
  --label-bgColor-lime-hover: #c7e580;
  --label-fgColor-lime: #3a5b25;
  --label-bgColor-olive: #f0f0ad;
  --label-bgColor-olive-hover: #dbe170;
  --label-fgColor-olive: #495a2b;
  --label-bgColor-lemon: #f7eea1;
  --label-bgColor-lemon-hover: #f0db3d;
  --label-fgColor-lemon: #654f01;
  --label-bgColor-yellow: #ffec9e;
  --label-bgColor-yellow-hover: #ffd642;
  --label-fgColor-yellow: #704d00;
  --label-bgColor-orange: #dbe2eb;
  --label-bgColor-orange-hover: #c9d2de;
  --label-fgColor-orange: #4e535a;
  --label-bgColor-amber: #dbe2eb;
  --label-bgColor-amber-hover: #c9d2de;
  --label-fgColor-amber: #4e535a;
  --label-bgColor-red: #dbe2eb;
  --label-bgColor-red-hover: #c9d2de;
  --label-fgColor-red: #4e535a;
  --label-bgColor-coral: #dbe2eb;
  --label-bgColor-coral-hover: #c9d2de;
  --label-fgColor-coral: #4e535a;
  --label-bgColor-gray: #dbe2eb;
  --label-bgColor-gray-hover: #c9d2de;
  --label-fgColor-gray: #4e535a;
  --label-bgColor-brown: #dbe2eb;
  --label-bgColor-brown-hover: #c9d2de;
  --label-fgColor-brown: #4e535a;
  --label-bgColor-auburn: #dbe2eb;
  --label-bgColor-auburn-hover: #c9d2de;
  --label-fgColor-auburn: #4e535a;
}
[data-color-mode='dark'][data-dark-theme^='dark'],
[data-color-mode='auto'][data-light-theme^='dark'] {
  --label-bgColor-pink: #dbe2eb;
  --label-bgColor-pink-hover: #c9d2de;
  --label-fgColor-pink: #4e535a;
  --label-bgColor-plum: #dbe2eb;
  --label-bgColor-plum-hover: #c9d2de;
  --label-fgColor-plum: #4e535a;
  --label-bgColor-purple: #dbe2eb;
  --label-bgColor-purple-hover: #c9d2de;
  --label-fgColor-purple: #4e535a;
  --label-bgColor-indigo: #dbe2eb;
  --label-bgColor-indigo-hover: #c9d2de;
  --label-fgColor-indigo: #4e535a;
  --label-bgColor-blue: #dbe2eb;
  --label-bgColor-blue-hover: #c9d2de;
  --label-fgColor-blue: #4e535a;
  --label-bgColor-cyan: #dbe2eb;
  --label-bgColor-cyan-hover: #c9d2de;
  --label-fgColor-cyan: #4e535a;
  --label-bgColor-teal: #dbe2eb;
  --label-bgColor-teal-hover: #c9d2de;
  --label-fgColor-teal: #4e535a;
  --label-bgColor-pine: #dbe2eb;
  --label-bgColor-pine-hover: #c9d2de;
  --label-fgColor-pine: #4e535a;
  --label-bgColor-green: #dbe2eb;
  --label-bgColor-green-hover: #c9d2de;
  --label-fgColor-green: #4e535a;
  --label-bgColor-lime: #dbe2eb;
  --label-bgColor-lime-hover: #c9d2de;
  --label-fgColor-lime: #4e535a;
  --label-bgColor-olive: #dbe2eb;
  --label-bgColor-olive-hover: #c9d2de;
  --label-fgColor-olive: #4e535a;
  --label-bgColor-lemon: #dbe2eb;
  --label-bgColor-lemon-hover: #c9d2de;
  --label-fgColor-lemon: #4e535a;
  --label-bgColor-yellow: #dbe2eb;
  --label-bgColor-yellow-hover: #c9d2de;
  --label-fgColor-yellow: #4e535a;
  --label-bgColor-orange: #dbe2eb;
  --label-bgColor-orange-hover: #c9d2de;
  --label-fgColor-orange: #4e535a;
  --label-bgColor-amber: #dbe2eb;
  --label-bgColor-amber-hover: #c9d2de;
  --label-fgColor-amber: #4e535a;
  --label-bgColor-red: #dbe2eb;
  --label-bgColor-red-hover: #c9d2de;
  --label-fgColor-red: #4e535a;
  --label-bgColor-coral: #dbe2eb;
  --label-bgColor-coral-hover: #c9d2de;
  --label-fgColor-coral: #4e535a;
  --label-bgColor-gray: #dbe2eb;
  --label-bgColor-gray-hover: #c9d2de;
  --label-fgColor-gray: #4e535a;
  --label-bgColor-brown: #dbe2eb;
  --label-bgColor-brown-hover: #c9d2de;
  --label-fgColor-brown: #4e535a;
  --label-bgColor-auburn: #dbe2eb;
  --label-bgColor-auburn-hover: #c9d2de;
  --label-fgColor-auburn: #4e535a;
}
