/**/
[data-color-mode='light'][data-light-theme^='light'],
[data-color-mode='auto'][data-dark-theme^='light'] {
  --color-presentational-gray-0: #dbe2eb;
  --color-presentational-gray-1: #c9d2de;
  --color-presentational-gray-2: #b4c0cf;
  --color-presentational-gray-3: #9ba9bb;
  --color-presentational-gray-4: #808fa3;
  --color-presentational-gray-5: #647182;
  --color-presentational-gray-6: #5c6570;
  --color-presentational-gray-7: #4e535a;
  --color-presentational-gray-8: #424448;
  --color-presentational-gray-9: #303031;
  --color-presentational-auburn-0: #ece0df;
  --color-presentational-auburn-1: #e1cdcc;
  --color-presentational-auburn-2: #d4b7b5;
  --color-presentational-auburn-3: #c59e9b;
  --color-presentational-auburn-4: #b4827e;
  --color-presentational-auburn-5: #9d615c;
  --color-presentational-auburn-6: #8a5551;
  --color-presentational-auburn-7: #744744;
  --color-presentational-auburn-8: #5d3937;
  --color-presentational-auburn-9: #432928;
  --color-presentational-brown-0: #e7e1d5;
  --color-presentational-brown-1: #dad0be;
  --color-presentational-brown-2: #cbbda4;
  --color-presentational-brown-3: #b8a484;
  --color-presentational-brown-4: #a68b64;
  --color-presentational-brown-5: #856d4c;
  --color-presentational-brown-6: #755f43;
  --color-presentational-brown-7: #64513a;
  --color-presentational-brown-8: #51412f;
  --color-presentational-brown-9: #3a2e22;
  --color-presentational-orange-0: #ffdcbd;
  --color-presentational-orange-1: #fdc79b;
  --color-presentational-orange-2: #fbaf74;
  --color-presentational-orange-3: #f68c41;
  --color-presentational-orange-4: #eb670f;
  --color-presentational-orange-5: #b8500f;
  --color-presentational-orange-6: #a24610;
  --color-presentational-orange-7: #8d3c11;
  --color-presentational-orange-8: #70300f;
  --color-presentational-orange-9: #54230d;
  --color-presentational-amber-0: #ffdd99;
  --color-presentational-amber-1: #ffc96b;
  --color-presentational-amber-2: #ffaf38;
  --color-presentational-amber-3: #f58b00;
  --color-presentational-amber-4: #d67200;
  --color-presentational-amber-5: #ad5700;
  --color-presentational-amber-6: #9e4a00;
  --color-presentational-amber-7: #8a3c00;
  --color-presentational-amber-8: #752f00;
  --color-presentational-amber-9: #572000;
  --color-presentational-yellow-0: #ffe16b;
  --color-presentational-yellow-1: #ffcc14;
  --color-presentational-yellow-2: #ebb400;
  --color-presentational-yellow-3: #d19d00;
  --color-presentational-yellow-4: #b88700;
  --color-presentational-yellow-5: #946a00;
  --color-presentational-yellow-6: #805900;
  --color-presentational-yellow-7: #704d00;
  --color-presentational-yellow-8: #5c3d00;
  --color-presentational-yellow-9: #422b00;
  --color-presentational-lemon-0: #f2e56e;
  --color-presentational-lemon-1: #e8cf11;
  --color-presentational-lemon-2: #d8bd0e;
  --color-presentational-lemon-3: #c2a60a;
  --color-presentational-lemon-4: #a68c07;
  --color-presentational-lemon-5: #866e04;
  --color-presentational-lemon-6: #786002;
  --color-presentational-lemon-7: #654f01;
  --color-presentational-lemon-8: #523f00;
  --color-presentational-lemon-9: #3d2e00;
  --color-presentational-olive-0: #e8e87d;
  --color-presentational-olive-1: #d4da52;
  --color-presentational-olive-2: #b9c832;
  --color-presentational-olive-3: #9bae32;
  --color-presentational-olive-4: #819532;
  --color-presentational-olive-5: #64762d;
  --color-presentational-olive-6: #56682c;
  --color-presentational-olive-7: #495a2b;
  --color-presentational-olive-8: #3b4927;
  --color-presentational-olive-9: #2a331f;
  --color-presentational-lime-0: #d6ec93;
  --color-presentational-lime-1: #badf62;
  --color-presentational-lime-2: #9bd039;
  --color-presentational-lime-3: #80b530;
  --color-presentational-lime-4: #6c9d2f;
  --color-presentational-lime-5: #527a29;
  --color-presentational-lime-6: #476c28;
  --color-presentational-lime-7: #3a5b25;
  --color-presentational-lime-8: #2f4a21;
  --color-presentational-lime-9: #213319;
  --color-presentational-green-0: #aff3af;
  --color-presentational-green-1: #82e887;
  --color-presentational-green-2: #54d961;
  --color-presentational-green-3: #31bf46;
  --color-presentational-green-4: #30a147;
  --color-presentational-green-5: #2c8141;
  --color-presentational-green-6: #2b6e3f;
  --color-presentational-green-7: #285c3b;
  --color-presentational-green-8: #254b34;
  --color-presentational-green-9: #1d3528;
  --color-presentational-pine-0: #9ff4c9;
  --color-presentational-pine-1: #60eba8;
  --color-presentational-pine-2: #1dd781;
  --color-presentational-pine-3: #1dbf76;
  --color-presentational-pine-4: #1aa267;
  --color-presentational-pine-5: #167e53;
  --color-presentational-pine-6: #156f4b;
  --color-presentational-pine-7: #135d41;
  --color-presentational-pine-8: #114b36;
  --color-presentational-pine-9: #0d3627;
  --color-presentational-teal-0: #a8f0e6;
  --color-presentational-teal-1: #6be6da;
  --color-presentational-teal-2: #22d3c7;
  --color-presentational-teal-3: #1db9b4;
  --color-presentational-teal-4: #179b9b;
  --color-presentational-teal-5: #127e81;
  --color-presentational-teal-6: #106e75;
  --color-presentational-teal-7: #0d5b63;
  --color-presentational-teal-8: #0a4852;
  --color-presentational-teal-9: #073740;
  --color-presentational-cyan-0: #9eefff;
  --color-presentational-cyan-1: #57e3ff;
  --color-presentational-cyan-2: #00d0fa;
  --color-presentational-cyan-3: #00b7db;
  --color-presentational-cyan-4: #0099b8;
  --color-presentational-cyan-5: #007b94;
  --color-presentational-cyan-6: #006a80;
  --color-presentational-cyan-7: #00596b;
  --color-presentational-cyan-8: #004857;
  --color-presentational-cyan-9: #003742;
  --color-presentational-blue-0: #bde9ff;
  --color-presentational-blue-1: #99daff;
  --color-presentational-blue-2: #75c8ff;
  --color-presentational-blue-3: #47afff;
  --color-presentational-blue-4: #0f8fff;
  --color-presentational-blue-5: #006edb;
  --color-presentational-blue-6: #005fcc;
  --color-presentational-blue-7: #004db3;
  --color-presentational-blue-8: #003d99;
  --color-presentational-blue-9: #002b75;
  --color-presentational-indigo-0: #dbe0ff;
  --color-presentational-indigo-1: #c8cffe;
  --color-presentational-indigo-2: #b1b9fb;
  --color-presentational-indigo-3: #979ff7;
  --color-presentational-indigo-4: #7a82f0;
  --color-presentational-indigo-5: #5a61e7;
  --color-presentational-indigo-6: #494edf;
  --color-presentational-indigo-7: #393cd5;
  --color-presentational-indigo-8: #2d2db4;
  --color-presentational-indigo-9: #25247b;
  --color-presentational-purple-0: #ecdbff;
  --color-presentational-purple-1: #e0c8fe;
  --color-presentational-purple-2: #d1b1fc;
  --color-presentational-purple-3: #bc91f8;
  --color-presentational-purple-4: #a672f3;
  --color-presentational-purple-5: #894ceb;
  --color-presentational-purple-6: #783ae4;
  --color-presentational-purple-7: #6223d7;
  --color-presentational-purple-8: #4f21ab;
  --color-presentational-purple-9: #391b79;
  --color-presentational-plum-0: #f4d6ff;
  --color-presentational-plum-1: #edc3fe;
  --color-presentational-plum-2: #e2a7fb;
  --color-presentational-plum-3: #d487f7;
  --color-presentational-plum-4: #c264f2;
  --color-presentational-plum-5: #a830e8;
  --color-presentational-plum-6: #961edc;
  --color-presentational-plum-7: #7d1eb8;
  --color-presentational-plum-8: #651d96;
  --color-presentational-plum-9: #471769;
  --color-presentational-pink-0: #ffd6e9;
  --color-presentational-pink-1: #fdbfdd;
  --color-presentational-pink-2: #f8a5cf;
  --color-presentational-pink-3: #f184bc;
  --color-presentational-pink-4: #e55da5;
  --color-presentational-pink-5: #ce2c85;
  --color-presentational-pink-6: #b12f79;
  --color-presentational-pink-7: #8e2e66;
  --color-presentational-pink-8: #6e2b53;
  --color-presentational-pink-9: #4d233d;
  --color-presentational-red-0: #ffd8d6;
  --color-presentational-red-1: #fec3c2;
  --color-presentational-red-2: #fda5a7;
  --color-presentational-red-3: #fb8389;
  --color-presentational-red-4: #f85461;
  --color-presentational-red-5: #df0c24;
  --color-presentational-red-6: #c50d28;
  --color-presentational-red-7: #a60c29;
  --color-presentational-red-8: #880c27;
  --color-presentational-red-9: #610a20;
  --color-presentational-coral-0: #ffdacc;
  --color-presentational-coral-1: #fec6b4;
  --color-presentational-coral-2: #fcab92;
  --color-presentational-coral-3: #f88768;
  --color-presentational-coral-4: #f25f3a;
  --color-presentational-coral-5: #d43511;
  --color-presentational-coral-6: #ba2e12;
  --color-presentational-coral-7: #9b2712;
  --color-presentational-coral-8: #7e2011;
  --color-presentational-coral-9: #5d180e;
}
[data-color-mode='dark'][data-dark-theme^='dark'],
[data-color-mode='auto'][data-light-theme^='dark'] {
  --color-presentational-gray-0: #232424;
  --color-presentational-gray-1: #2f3132;
  --color-presentational-gray-2: #393e41;
  --color-presentational-gray-3: #454e54;
  --color-presentational-gray-4: #54626d;
  --color-presentational-gray-5: #6b8094;
  --color-presentational-gray-6: #8f9fb3;
  --color-presentational-gray-7: #9babbf;
  --color-presentational-gray-8: #b3bfd1;
  --color-presentational-gray-9: #c8d0e0;
  --color-presentational-yellow-0: #331f00;
  --color-presentational-yellow-1: #472c00;
  --color-presentational-yellow-2: #563701;
  --color-presentational-yellow-3: #694502;
  --color-presentational-yellow-4: #825803;
  --color-presentational-yellow-5: #a97504;
  --color-presentational-yellow-6: #d09306;
  --color-presentational-yellow-7: #dda108;
  --color-presentational-yellow-8: #f0b30a;
  --color-presentational-yellow-9: #f6c941;
  --color-presentational-lemon-0: #332200;
  --color-presentational-lemon-1: #422d01;
  --color-presentational-lemon-2: #503802;
  --color-presentational-lemon-3: #634803;
  --color-presentational-lemon-4: #7f5f05;
  --color-presentational-lemon-5: #a07a08;
  --color-presentational-lemon-6: #c59a0d;
  --color-presentational-lemon-7: #d1a710;
  --color-presentational-lemon-8: #e6bc14;
  --color-presentational-lemon-9: #eccd41;
  --color-presentational-olive-0: #20290f;
  --color-presentational-olive-1: #2b3513;
  --color-presentational-olive-2: #374115;
  --color-presentational-olive-3: #485219;
  --color-presentational-olive-4: #5e681d;
  --color-presentational-olive-5: #7a8321;
  --color-presentational-olive-6: #a2a626;
  --color-presentational-olive-7: #b2af24;
  --color-presentational-olive-8: #cbc025;
  --color-presentational-olive-9: #e2d04b;
  --color-presentational-lime-0: #1a2914;
  --color-presentational-lime-1: #223418;
  --color-presentational-lime-2: #2c441d;
  --color-presentational-lime-3: #375421;
  --color-presentational-lime-4: #496c28;
  --color-presentational-lime-5: #5f892f;
  --color-presentational-lime-6: #7dae37;
  --color-presentational-lime-7: #89ba36;
  --color-presentational-lime-8: #9fcc3e;
  --color-presentational-lime-9: #bcda67;
  --color-presentational-green-0: #15291e;
  --color-presentational-green-1: #193424;
  --color-presentational-green-2: #20462d;
  --color-presentational-green-3: #275936;
  --color-presentational-green-4: #2f6f3f;
  --color-presentational-green-5: #398e4a;
  --color-presentational-green-6: #45b556;
  --color-presentational-green-7: #4fbf5a;
  --color-presentational-green-8: #7ad17e;
  --color-presentational-green-9: #9bdf9b;
  --color-presentational-pine-0: #0a291f;
  --color-presentational-pine-1: #0c3628;
  --color-presentational-pine-2: #0e4430;
  --color-presentational-pine-3: #115a3e;
  --color-presentational-pine-4: #14714c;
  --color-presentational-pine-5: #18915e;
  --color-presentational-pine-6: #1bb673;
  --color-presentational-pine-7: #1ac176;
  --color-presentational-pine-8: #1bda81;
  --color-presentational-pine-9: #3eea97;
  --color-presentational-teal-0: #052929;
  --color-presentational-teal-1: #073635;
  --color-presentational-teal-2: #094440;
  --color-presentational-teal-3: #0c5a52;
  --color-presentational-teal-4: #107063;
  --color-presentational-teal-5: #158e7a;
  --color-presentational-teal-6: #1cb596;
  --color-presentational-teal-7: #1fc19b;
  --color-presentational-teal-8: #24d6a6;
  --color-presentational-teal-9: #67e4bf;
  --color-presentational-cyan-0: #002b33;
  --color-presentational-cyan-1: #00343d;
  --color-presentational-cyan-2: #004752;
  --color-presentational-cyan-3: #005661;
  --color-presentational-cyan-4: #006e7a;
  --color-presentational-cyan-5: #008c99;
  --color-presentational-cyan-6: #00b0bd;
  --color-presentational-cyan-7: #00bdc7;
  --color-presentational-cyan-8: #00d4db;
  --color-presentational-cyan-9: #00e7eb;
  --color-presentational-blue-0: #002057;
  --color-presentational-blue-1: #002d6b;
  --color-presentational-blue-2: #003c80;
  --color-presentational-blue-3: #004c94;
  --color-presentational-blue-4: #0062ad;
  --color-presentational-blue-5: #0081d1;
  --color-presentational-blue-6: #00a7fa;
  --color-presentational-blue-7: #00b7ff;
  --color-presentational-blue-8: #24ccff;
  --color-presentational-blue-9: #52dfff;
  --color-presentational-indigo-0: #1c1b5a;
  --color-presentational-indigo-1: #20207e;
  --color-presentational-indigo-2: #2527a7;
  --color-presentational-indigo-3: #282dd7;
  --color-presentational-indigo-4: #454de3;
  --color-presentational-indigo-5: #6871ed;
  --color-presentational-indigo-6: #8e97f5;
  --color-presentational-indigo-7: #9aa3f9;
  --color-presentational-indigo-8: #b0b9fd;
  --color-presentational-indigo-9: #c7cfff;
  --color-presentational-purple-0: #2b1358;
  --color-presentational-purple-1: #3a1679;
  --color-presentational-purple-2: #4a189a;
  --color-presentational-purple-3: #5f1ac7;
  --color-presentational-purple-4: #7a2be9;
  --color-presentational-purple-5: #9c5af2;
  --color-presentational-purple-6: #ba87f8;
  --color-presentational-purple-7: #c393fb;
  --color-presentational-purple-8: #d5affe;
  --color-presentational-purple-9: #e0c2ff;
  --color-presentational-plum-0: #351150;
  --color-presentational-plum-1: #47146c;
  --color-presentational-plum-2: #5b1589;
  --color-presentational-plum-3: #7517b0;
  --color-presentational-plum-4: #9217d9;
  --color-presentational-plum-5: #b547f0;
  --color-presentational-plum-6: #cf7df7;
  --color-presentational-plum-7: #d88efb;
  --color-presentational-plum-8: #e4aafe;
  --color-presentational-plum-9: #eec2ff;
  --color-presentational-pink-0: #381a2e;
  --color-presentational-pink-1: #4c1f3c;
  --color-presentational-pink-2: #65244d;
  --color-presentational-pink-3: #842a61;
  --color-presentational-pink-4: #ac2f7a;
  --color-presentational-pink-5: #d34598;
  --color-presentational-pink-6: #e57bb7;
  --color-presentational-pink-7: #ec89bf;
  --color-presentational-pink-8: #f4a9d1;
  --color-presentational-pink-9: #f9bedc;
  --color-presentational-red-0: #4a0717;
  --color-presentational-red-1: #62091b;
  --color-presentational-red-2: #7a0b1d;
  --color-presentational-red-3: #9c0d20;
  --color-presentational-red-4: #c20f21;
  --color-presentational-red-5: #f02431;
  --color-presentational-red-6: #f6797d;
  --color-presentational-red-7: #f88b8b;
  --color-presentational-red-8: #faaba8;
  --color-presentational-red-9: #fcc4c0;
  --color-presentational-coral-0: #46120b;
  --color-presentational-coral-1: #5e180d;
  --color-presentational-coral-2: #761e0f;
  --color-presentational-coral-3: #942610;
  --color-presentational-coral-4: #b72f10;
  --color-presentational-coral-5: #ea3c10;
  --color-presentational-coral-6: #f67c5a;
  --color-presentational-coral-7: #fa8d6b;
  --color-presentational-coral-8: #fda88c;
  --color-presentational-coral-9: #ffc0a9;
  --color-presentational-auburn-0: #301f1c;
  --color-presentational-auburn-1: #402926;
  --color-presentational-auburn-2: #543531;
  --color-presentational-auburn-3: #6a433e;
  --color-presentational-auburn-4: #84544d;
  --color-presentational-auburn-5: #a66f68;
  --color-presentational-auburn-6: #bd948f;
  --color-presentational-auburn-7: #c6a39f;
  --color-presentational-auburn-8: #d4b9b5;
  --color-presentational-auburn-9: #dfcbc8;
  --color-presentational-brown-0: #2d201a;
  --color-presentational-brown-1: #3e2b23;
  --color-presentational-brown-2: #4e362c;
  --color-presentational-brown-3: #664638;
  --color-presentational-brown-4: #815846;
  --color-presentational-brown-5: #a77058;
  --color-presentational-brown-6: #bf9582;
  --color-presentational-brown-7: #c8a392;
  --color-presentational-brown-8: #d5b7aa;
  --color-presentational-brown-9: #e1cbc1;
  --color-presentational-amber-0: #421700;
  --color-presentational-amber-1: #521f00;
  --color-presentational-amber-2: #662b00;
  --color-presentational-amber-3: #803900;
  --color-presentational-amber-4: #994a00;
  --color-presentational-amber-5: #c26400;
  --color-presentational-amber-6: #f08400;
  --color-presentational-amber-7: #fa9200;
  --color-presentational-amber-8: #ffab24;
  --color-presentational-amber-9: #ffc65c;
  --color-presentational-orange-0: #3d1a0a;
  --color-presentational-orange-1: #50210c;
  --color-presentational-orange-2: #682c0d;
  --color-presentational-orange-3: #81360e;
  --color-presentational-orange-4: #a3450f;
  --color-presentational-orange-5: #d15a10;
  --color-presentational-orange-6: #f37e30;
  --color-presentational-orange-7: #f78f45;
  --color-presentational-orange-8: #fbac6f;
  --color-presentational-orange-9: #fec495;
}
