/**/
[data-color-mode='light'][data-light-theme^='light'],
[data-color-mode='auto'][data-dark-theme^='light'] {
  --presentational-color-brown-0: #f0eae5;
  --presentational-color-brown-1: #e3d7ce;
  --presentational-color-brown-2: #d0bcae;
  --presentational-color-brown-3: #bea08e;
  --presentational-color-brown-4: #ad8771;
  --presentational-color-brown-5: #8e6752;
  --presentational-color-brown-6: #6b4d3d;
  --presentational-color-brown-7: #573e32;
  --presentational-color-brown-8: #412d25;
  --presentational-color-brown-9: #2a1d18;
  --presentational-color-auburn-0: #f2e9e9;
  --presentational-color-auburn-1: #e5d4d2;
  --presentational-color-auburn-2: #d4b8b5;
  --presentational-color-auburn-3: #c5a09b;
  --presentational-color-auburn-4: #b2817b;
  --presentational-color-auburn-5: #9a615b;
  --presentational-color-auburn-6: #744944;
  --presentational-color-auburn-7: #5d3b37;
  --presentational-color-auburn-8: #432a28;
  --presentational-color-auburn-9: #2d1c1a;
  --presentational-color-gray-0: #e8ecf2;
  --presentational-color-gray-1: #d2dae4;
  --presentational-color-gray-2: #b4c0cf;
  --presentational-color-gray-3: #9ba9bb;
  --presentational-color-gray-4: #808fa3;
  --presentational-color-gray-5: #647182;
  --presentational-color-gray-6: #4c535d;
  --presentational-color-gray-7: #40444a;
  --presentational-color-gray-8: #2f3032;
  --presentational-color-gray-9: #1e1f1f;
  --presentational-color-orange-0: #ffe7d1;
  --presentational-color-orange-1: #fecfaa;
  --presentational-color-orange-2: #fbaf74;
  --presentational-color-orange-3: #f68c41;
  --presentational-color-orange-4: #eb670f;
  --presentational-color-orange-5: #b8500f;
  --presentational-color-orange-6: #8b3c0e;
  --presentational-color-orange-7: #72310d;
  --presentational-color-orange-8: #51220b;
  --presentational-color-orange-9: #351608;
  --presentational-color-amber-0: #ffe9bd;
  --presentational-color-amber-1: #ffd48a;
  --presentational-color-amber-2: #ffaf38;
  --presentational-color-amber-3: #f58b00;
  --presentational-color-amber-4: #d67200;
  --presentational-color-amber-5: #ad5700;
  --presentational-color-amber-6: #853e00;
  --presentational-color-amber-7: #703100;
  --presentational-color-amber-8: #522100;
  --presentational-color-amber-9: #381500;
  --presentational-color-yellow-0: #ffeba8;
  --presentational-color-yellow-1: #ffd65c;
  --presentational-color-yellow-2: #f5b400;
  --presentational-color-yellow-3: #db9d00;
  --presentational-color-yellow-4: #bd8400;
  --presentational-color-yellow-5: #946500;
  --presentational-color-yellow-6: #704b00;
  --presentational-color-yellow-7: #5c3c00;
  --presentational-color-yellow-8: #422a00;
  --presentational-color-yellow-9: #2e1c00;
  --presentational-color-lemon-0: #f7eea1;
  --presentational-color-lemon-1: #f0db3d;
  --presentational-color-lemon-2: #d8bd0e;
  --presentational-color-lemon-3: #c2a60a;
  --presentational-color-lemon-4: #a68c07;
  --presentational-color-lemon-5: #866e04;
  --presentational-color-lemon-6: #645002;
  --presentational-color-lemon-7: #513f01;
  --presentational-color-lemon-8: #3d2f00;
  --presentational-color-lemon-9: #291f00;
  --presentational-color-olive-0: #f1f183;
  --presentational-color-olive-1: #dae236;
  --presentational-color-olive-2: #b7c723;
  --presentational-color-olive-3: #9cb125;
  --presentational-color-olive-4: #809726;
  --presentational-color-olive-5: #627722;
  --presentational-color-olive-6: #46581d;
  --presentational-color-olive-7: #37461b;
  --presentational-color-olive-8: #273215;
  --presentational-color-olive-9: #1a2211;
  --presentational-color-lime-0: #e0f5a3;
  --presentational-color-lime-1: #bfe85e;
  --presentational-color-lime-2: #94d025;
  --presentational-color-lime-3: #7fb927;
  --presentational-color-lime-4: #679b27;
  --presentational-color-lime-5: #4f7b24;
  --presentational-color-lime-6: #3a5c1f;
  --presentational-color-lime-7: #2e4a1c;
  --presentational-color-lime-8: #223617;
  --presentational-color-lime-9: #162211;
  --presentational-color-green-0: #caf7ca;
  --presentational-color-green-1: #9ceda0;
  --presentational-color-green-2: #54d961;
  --presentational-color-green-3: #31bf46;
  --presentational-color-green-4: #30a147;
  --presentational-color-green-5: #2c8141;
  --presentational-color-green-6: #255f37;
  --presentational-color-green-7: #214a2f;
  --presentational-color-green-8: #1b3726;
  --presentational-color-green-9: #14241b;
  --presentational-color-pine-0: #9effcf;
  --presentational-color-pine-1: #24f992;
  --presentational-color-pine-2: #0bda7a;
  --presentational-color-pine-3: #10c171;
  --presentational-color-pine-4: #12a163;
  --presentational-color-pine-5: #128153;
  --presentational-color-pine-6: #115f40;
  --presentational-color-pine-7: #104c35;
  --presentational-color-pine-8: #0d3526;
  --presentational-color-pine-9: #0a241b;
  --presentational-color-teal-0: #c7f5ef;
  --presentational-color-teal-1: #89ebe1;
  --presentational-color-teal-2: #22d3c7;
  --presentational-color-teal-3: #1db9b4;
  --presentational-color-teal-4: #179b9b;
  --presentational-color-teal-5: #127e81;
  --presentational-color-teal-6: #0d5d63;
  --presentational-color-teal-7: #0b4a51;
  --presentational-color-teal-8: #07343b;
  --presentational-color-teal-9: #052329;
  --presentational-color-cyan-0: #bdf4ff;
  --presentational-color-cyan-1: #7ae9ff;
  --presentational-color-cyan-2: #00d0fa;
  --presentational-color-cyan-3: #00b7db;
  --presentational-color-cyan-4: #0099b8;
  --presentational-color-cyan-5: #007b94;
  --presentational-color-cyan-6: #00596b;
  --presentational-color-cyan-7: #004857;
  --presentational-color-cyan-8: #003742;
  --presentational-color-cyan-9: #002229;
  --presentational-color-blue-0: #d1f0ff;
  --presentational-color-blue-1: #ade1ff;
  --presentational-color-blue-2: #75c8ff;
  --presentational-color-blue-3: #47afff;
  --presentational-color-blue-4: #0f8fff;
  --presentational-color-blue-5: #006edb;
  --presentational-color-blue-6: #0051ad;
  --presentational-color-blue-7: #004094;
  --presentational-color-blue-8: #002d70;
  --presentational-color-blue-9: #001c4d;
  --presentational-color-indigo-0: #e5e9ff;
  --presentational-color-indigo-1: #d2d7fe;
  --presentational-color-indigo-2: #b1b9fb;
  --presentational-color-indigo-3: #979ff7;
  --presentational-color-indigo-4: #7a82f0;
  --presentational-color-indigo-5: #5a61e7;
  --presentational-color-indigo-6: #3339db;
  --presentational-color-indigo-7: #282bbd;
  --presentational-color-indigo-8: #212183;
  --presentational-color-indigo-9: #191853;
  --presentational-color-purple-0: #f1e5ff;
  --presentational-color-purple-1: #e6d2fe;
  --presentational-color-purple-2: #d1b1fc;
  --presentational-color-purple-3: #bc91f8;
  --presentational-color-purple-4: #a672f3;
  --presentational-color-purple-5: #894ceb;
  --presentational-color-purple-6: #641edc;
  --presentational-color-purple-7: #501daf;
  --presentational-color-purple-8: #39187c;
  --presentational-color-purple-9: #271254;
  --presentational-color-plum-0: #f8e5ff;
  --presentational-color-plum-1: #f0cdfe;
  --presentational-color-plum-2: #e2a7fb;
  --presentational-color-plum-3: #d487f7;
  --presentational-color-plum-4: #c264f2;
  --presentational-color-plum-5: #a830e8;
  --presentational-color-plum-6: #7e19b8;
  --presentational-color-plum-7: #651895;
  --presentational-color-plum-8: #48146b;
  --presentational-color-plum-9: #301047;
  --presentational-color-pink-0: #ffe5f1;
  --presentational-color-pink-1: #fdc9e2;
  --presentational-color-pink-2: #f8a5cf;
  --presentational-color-pink-3: #f184bc;
  --presentational-color-pink-4: #e55da5;
  --presentational-color-pink-5: #ce2c85;
  --presentational-color-pink-6: #952866;
  --presentational-color-pink-7: #742553;
  --presentational-color-pink-8: #511f3d;
  --presentational-color-pink-9: #311627;
  --presentational-color-red-0: #ffe2e0;
  --presentational-color-red-1: #fecdcd;
  --presentational-color-red-2: #fda5a7;
  --presentational-color-red-3: #fb8389;
  --presentational-color-red-4: #f85461;
  --presentational-color-red-5: #df0c24;
  --presentational-color-red-6: #a80b22;
  --presentational-color-red-7: #8a0a22;
  --presentational-color-red-8: #63091c;
  --presentational-color-red-9: #460717;
  --presentational-color-coral-0: #ffe4db;
  --presentational-color-coral-1: #fecdbe;
  --presentational-color-coral-2: #fca992;
  --presentational-color-coral-3: #f8896d;
  --presentational-color-coral-4: #f25c3a;
  --presentational-color-coral-5: #d43211;
  --presentational-color-coral-6: #9e2510;
  --presentational-color-coral-7: #801e0f;
  --presentational-color-coral-8: #5e160d;
  --presentational-color-coral-9: #3e0f0a;
}
[data-color-mode='dark'][data-dark-theme^='dark'],
[data-color-mode='auto'][data-light-theme^='dark'] {
  --presentational-color-brown-3: #bea08e;
  --presentational-color-brown-4: #ad8771;
  --presentational-color-brown-5: #8e6752;
  --presentational-color-brown-6: #6b4d3d;
  --presentational-color-brown-7: #573e32;
  --presentational-color-brown-8: #412d25;
  --presentational-color-brown-9: #2a1d18;
  --presentational-color-auburn-0: #f2e9e9;
  --presentational-color-auburn-1: #e5d4d2;
  --presentational-color-auburn-2: #d4b8b5;
  --presentational-color-auburn-3: #c5a09b;
  --presentational-color-auburn-4: #b2817b;
  --presentational-color-auburn-5: #9a615b;
  --presentational-color-auburn-6: #744944;
  --presentational-color-auburn-7: #5d3b37;
  --presentational-color-auburn-8: #432a28;
  --presentational-color-auburn-9: #2d1c1a;
  --presentational-color-gray-0: #e8ecf2;
  --presentational-color-gray-1: #d2dae4;
  --presentational-color-gray-2: #b4c0cf;
  --presentational-color-gray-3: #9ba9bb;
  --presentational-color-gray-4: #808fa3;
  --presentational-color-gray-5: #647182;
  --presentational-color-gray-6: #4c535d;
  --presentational-color-gray-7: #40444a;
  --presentational-color-gray-8: #2f3032;
  --presentational-color-gray-9: #1e1f1f;
  --presentational-color-orange-0: #ffe7d1;
  --presentational-color-orange-1: #fecfaa;
  --presentational-color-orange-2: #fbaf74;
  --presentational-color-orange-3: #f68c41;
  --presentational-color-orange-4: #eb670f;
  --presentational-color-orange-5: #b8500f;
  --presentational-color-orange-6: #8b3c0e;
  --presentational-color-orange-7: #72310d;
  --presentational-color-orange-8: #51220b;
  --presentational-color-orange-9: #351608;
  --presentational-color-amber-0: #ffe9bd;
  --presentational-color-amber-1: #ffd48a;
  --presentational-color-amber-2: #ffaf38;
  --presentational-color-amber-3: #f58b00;
  --presentational-color-amber-4: #d67200;
  --presentational-color-amber-5: #ad5700;
  --presentational-color-amber-6: #853e00;
  --presentational-color-amber-7: #703100;
  --presentational-color-amber-8: #522100;
  --presentational-color-amber-9: #381500;
  --presentational-color-yellow-0: #ffeba8;
  --presentational-color-yellow-1: #ffd65c;
  --presentational-color-yellow-2: #f5b400;
  --presentational-color-yellow-3: #db9d00;
  --presentational-color-yellow-4: #bd8400;
  --presentational-color-yellow-5: #946500;
  --presentational-color-yellow-6: #704b00;
  --presentational-color-yellow-7: #5c3c00;
  --presentational-color-yellow-8: #422a00;
  --presentational-color-yellow-9: #2e1c00;
  --presentational-color-lemon-0: #f7eea1;
  --presentational-color-lemon-1: #f0db3d;
  --presentational-color-lemon-2: #d8bd0e;
  --presentational-color-lemon-3: #c2a60a;
  --presentational-color-lemon-4: #a68c07;
  --presentational-color-lemon-5: #866e04;
  --presentational-color-lemon-6: #645002;
  --presentational-color-lemon-7: #513f01;
  --presentational-color-lemon-8: #3d2f00;
  --presentational-color-lemon-9: #291f00;
  --presentational-color-olive-0: #f1f183;
  --presentational-color-olive-1: #dae236;
  --presentational-color-olive-2: #b7c723;
  --presentational-color-olive-3: #9cb125;
  --presentational-color-olive-4: #809726;
  --presentational-color-olive-5: #627722;
  --presentational-color-olive-6: #46581d;
  --presentational-color-olive-7: #37461b;
  --presentational-color-olive-8: #273215;
  --presentational-color-olive-9: #1a2211;
  --presentational-color-lime-0: #e0f5a3;
  --presentational-color-lime-1: #bfe85e;
  --presentational-color-lime-2: #94d025;
  --presentational-color-lime-3: #7fb927;
  --presentational-color-lime-4: #679b27;
  --presentational-color-lime-5: #4f7b24;
  --presentational-color-lime-6: #3a5c1f;
  --presentational-color-lime-7: #2e4a1c;
  --presentational-color-lime-8: #223617;
  --presentational-color-lime-9: #162211;
  --presentational-color-green-0: #caf7ca;
  --presentational-color-green-1: #9ceda0;
  --presentational-color-green-2: #54d961;
  --presentational-color-green-3: #31bf46;
  --presentational-color-green-4: #30a147;
  --presentational-color-green-5: #2c8141;
  --presentational-color-green-6: #255f37;
  --presentational-color-green-7: #214a2f;
  --presentational-color-green-8: #1b3726;
  --presentational-color-green-9: #14241b;
  --presentational-color-pine-0: #9effcf;
  --presentational-color-pine-1: #24f992;
  --presentational-color-pine-2: #0bda7a;
  --presentational-color-pine-3: #10c171;
  --presentational-color-pine-4: #12a163;
  --presentational-color-pine-5: #128153;
  --presentational-color-pine-6: #115f40;
  --presentational-color-pine-7: #104c35;
  --presentational-color-pine-8: #0d3526;
  --presentational-color-pine-9: #0a241b;
  --presentational-color-teal-0: #c7f5ef;
  --presentational-color-teal-1: #89ebe1;
  --presentational-color-teal-2: #22d3c7;
  --presentational-color-teal-3: #1db9b4;
  --presentational-color-teal-4: #179b9b;
  --presentational-color-teal-5: #127e81;
  --presentational-color-teal-6: #0d5d63;
  --presentational-color-teal-7: #0b4a51;
  --presentational-color-teal-8: #07343b;
  --presentational-color-teal-9: #052329;
  --presentational-color-cyan-0: #bdf4ff;
  --presentational-color-cyan-1: #7ae9ff;
  --presentational-color-cyan-2: #00d0fa;
  --presentational-color-cyan-3: #00b7db;
  --presentational-color-cyan-4: #0099b8;
  --presentational-color-cyan-5: #007b94;
  --presentational-color-cyan-6: #00596b;
  --presentational-color-cyan-7: #004857;
  --presentational-color-cyan-8: #003742;
  --presentational-color-cyan-9: #002229;
  --presentational-color-blue-0: #d1f0ff;
  --presentational-color-blue-1: #ade1ff;
  --presentational-color-blue-2: #75c8ff;
  --presentational-color-blue-3: #47afff;
  --presentational-color-blue-4: #0f8fff;
  --presentational-color-blue-5: #006edb;
  --presentational-color-blue-6: #0051ad;
  --presentational-color-blue-7: #004094;
  --presentational-color-blue-8: #002d70;
  --presentational-color-blue-9: #001c4d;
  --presentational-color-indigo-0: #e5e9ff;
  --presentational-color-indigo-1: #d2d7fe;
  --presentational-color-indigo-2: #b1b9fb;
  --presentational-color-indigo-3: #979ff7;
  --presentational-color-indigo-4: #7a82f0;
  --presentational-color-indigo-5: #5a61e7;
  --presentational-color-indigo-6: #3339db;
  --presentational-color-indigo-7: #282bbd;
  --presentational-color-indigo-8: #212183;
  --presentational-color-indigo-9: #191853;
  --presentational-color-purple-0: #f1e5ff;
  --presentational-color-purple-1: #e6d2fe;
  --presentational-color-purple-2: #d1b1fc;
  --presentational-color-purple-3: #bc91f8;
  --presentational-color-purple-4: #a672f3;
  --presentational-color-purple-5: #894ceb;
  --presentational-color-purple-6: #641edc;
  --presentational-color-purple-7: #501daf;
  --presentational-color-purple-8: #39187c;
  --presentational-color-purple-9: #271254;
  --presentational-color-plum-0: #f8e5ff;
  --presentational-color-plum-1: #f0cdfe;
  --presentational-color-plum-2: #e2a7fb;
  --presentational-color-plum-3: #d487f7;
  --presentational-color-plum-4: #c264f2;
  --presentational-color-plum-5: #a830e8;
  --presentational-color-plum-6: #7e19b8;
  --presentational-color-plum-7: #651895;
  --presentational-color-plum-8: #48146b;
  --presentational-color-plum-9: #301047;
  --presentational-color-pink-0: #ffe5f1;
  --presentational-color-pink-1: #fdc9e2;
  --presentational-color-pink-2: #f8a5cf;
  --presentational-color-pink-3: #f184bc;
  --presentational-color-pink-4: #e55da5;
  --presentational-color-pink-5: #ce2c85;
  --presentational-color-pink-6: #952866;
  --presentational-color-pink-7: #742553;
  --presentational-color-pink-8: #511f3d;
  --presentational-color-pink-9: #311627;
  --presentational-color-red-0: #ffe2e0;
  --presentational-color-red-1: #fecdcd;
  --presentational-color-red-2: #fda5a7;
  --presentational-color-red-3: #fb8389;
  --presentational-color-red-4: #f85461;
  --presentational-color-red-5: #df0c24;
  --presentational-color-red-6: #a80b22;
  --presentational-color-red-7: #8a0a22;
  --presentational-color-red-8: #63091c;
  --presentational-color-red-9: #460717;
  --presentational-color-coral-0: #ffe4db;
  --presentational-color-coral-1: #fecdbe;
  --presentational-color-coral-2: #fca992;
  --presentational-color-coral-3: #f8896d;
  --presentational-color-coral-4: #f25c3a;
  --presentational-color-coral-5: #d43211;
  --presentational-color-coral-6: #9e2510;
  --presentational-color-coral-7: #801e0f;
  --presentational-color-coral-8: #5e160d;
  --presentational-color-coral-9: #3e0f0a;
  --presentational-color-brown-0: #34231e;
  --presentational-color-brown-1: #442e27;
  --presentational-color-brown-2: #5b3d34;
  --presentational-color-brown-3: #714c41;
  --presentational-color-brown-4: #8b5e50;
  --presentational-color-brown-5: #ab7c6d;
  --presentational-color-brown-6: #c3a297;
  --presentational-color-brown-7: #cbada4;
  --presentational-color-brown-8: #dac5be;
  --presentational-color-brown-9: #e7d9d5;
  --presentational-color-auburn-0: #372220;
  --presentational-color-auburn-1: #472c2a;
  --presentational-color-auburn-2: #5d3b37;
  --presentational-color-auburn-3: #744944;
  --presentational-color-auburn-4: #915b55;
  --presentational-color-auburn-5: #ae7b75;
  --presentational-color-auburn-6: #c5a09b;
  --presentational-color-auburn-7: #ccaca8;
  --presentational-color-auburn-8: #dbc4c2;
  --presentational-color-auburn-9: #e6d7d5;
  --presentational-color-amber-0: #471900;
  --presentational-color-amber-1: #5c2300;
  --presentational-color-amber-2: #753100;
  --presentational-color-amber-3: #8a3e00;
  --presentational-color-amber-4: #a85100;
  --presentational-color-amber-5: #d16c00;
  --presentational-color-amber-6: #ff8c00;
  --presentational-color-amber-7: #ff9d14;
  --presentational-color-amber-8: #ffbd52;
  --presentational-color-amber-9: #ffd68a;
  --presentational-color-yellow-0: #3d2500;
  --presentational-color-yellow-1: #4d2f00;
  --presentational-color-yellow-2: #613d00;
  --presentational-color-yellow-3: #754c00;
  --presentational-color-yellow-4: #8f5f00;
  --presentational-color-yellow-5: #b37a00;
  --presentational-color-yellow-6: #e09d00;
  --presentational-color-yellow-7: #eba800;
  --presentational-color-yellow-8: #ffbe0a;
  --presentational-color-yellow-9: #ffd761;
  --presentational-color-lemon-0: #3d2e00;
  --presentational-color-lemon-1: #423201;
  --presentational-color-lemon-2: #554302;
  --presentational-color-lemon-3: #685403;
  --presentational-color-lemon-4: #7f6905;
  --presentational-color-lemon-5: #9b8308;
  --presentational-color-lemon-6: #c5a90d;
  --presentational-color-lemon-7: #ccb30f;
  --presentational-color-lemon-8: #e1c914;
  --presentational-color-lemon-9: #eddd4a;
  --presentational-color-olive-0: #202914;
  --presentational-color-olive-1: #2d3919;
  --presentational-color-olive-2: #3a491d;
  --presentational-color-olive-3: #4a5b1f;
  --presentational-color-olive-4: #5f7222;
  --presentational-color-olive-5: #7b8e25;
  --presentational-color-olive-6: #a1b427;
  --presentational-color-olive-7: #b1be23;
  --presentational-color-olive-8: #cbd11f;
  --presentational-color-olive-9: #e4e11b;
  --presentational-color-lime-0: #1c2c16;
  --presentational-color-lime-1: #233919;
  --presentational-color-lime-2: #304d1e;
  --presentational-color-lime-3: #3c5f21;
  --presentational-color-lime-4: #4b7623;
  --presentational-color-lime-5: #629627;
  --presentational-color-lime-6: #7fbc29;
  --presentational-color-lime-7: #8bc624;
  --presentational-color-lime-8: #a2de21;
  --presentational-color-lime-9: #bfea48;
  --presentational-color-green-0: #162c21;
  --presentational-color-green-1: #193927;
  --presentational-color-green-2: #1e4d30;
  --presentational-color-green-3: #226337;
  --presentational-color-green-4: #247a3d;
  --presentational-color-green-5: #289a42;
  --presentational-color-green-6: #2bc547;
  --presentational-color-green-7: #26cf3c;
  --presentational-color-green-8: #4ee45a;
  --presentational-color-green-9: #8df290;
  --presentational-color-gray-0: #262627;
  --presentational-color-gray-1: #313435;
  --presentational-color-gray-2: #40464a;
  --presentational-color-gray-3: #4c555d;
  --presentational-color-gray-4: #5d6c79;
  --presentational-color-gray-5: #74879a;
  --presentational-color-gray-6: #9baabb;
  --presentational-color-gray-7: #a8b6c7;
  --presentational-color-gray-8: #bfc9d9;
  --presentational-color-gray-9: #d5dbe7;
  --presentational-color-orange-0: #411b0b;
  --presentational-color-orange-1: #59250d;
  --presentational-color-orange-2: #75310f;
  --presentational-color-orange-3: #8e3c10;
  --presentational-color-orange-4: #b14b10;
  --presentational-color-orange-5: #df6011;
  --presentational-color-orange-6: #f5904d;
  --presentational-color-orange-7: #f89e5d;
  --presentational-color-orange-8: #fcbd8d;
  --presentational-color-orange-9: #fed2ae;
  --presentational-color-pine-0: #0e2f24;
  --presentational-color-pine-1: #0f392a;
  --presentational-color-pine-2: #114f39;
  --presentational-color-pine-3: #126344;
  --presentational-color-pine-4: #12784f;
  --presentational-color-pine-5: #129b62;
  --presentational-color-pine-6: #11c074;
  --presentational-color-pine-7: #0ccf77;
  --presentational-color-pine-8: #07e97f;
  --presentational-color-pine-9: #01fe84;
  --presentational-color-blue-0: #00225c;
  --presentational-color-blue-1: #002f70;
  --presentational-color-blue-2: #00438f;
  --presentational-color-blue-3: #0054a3;
  --presentational-color-blue-4: #006bbd;
  --presentational-color-blue-5: #008ae0;
  --presentational-color-blue-6: #1ab2ff;
  --presentational-color-blue-7: #24c1ff;
  --presentational-color-blue-8: #57d8ff;
  --presentational-color-blue-9: #85e9ff;
  --presentational-color-teal-0: #062f37;
  --presentational-color-teal-1: #083840;
  --presentational-color-teal-2: #0b4e56;
  --presentational-color-teal-3: #0d5d63;
  --presentational-color-teal-4: #117578;
  --presentational-color-teal-5: #179797;
  --presentational-color-teal-6: #1ebeb8;
  --presentational-color-teal-7: #21cabe;
  --presentational-color-teal-8: #3fdecf;
  --presentational-color-teal-9: #8eebdf;
  --presentational-color-cyan-0: #00333d;
  --presentational-color-cyan-1: #003842;
  --presentational-color-cyan-2: #004b57;
  --presentational-color-cyan-3: #005f6b;
  --presentational-color-cyan-4: #007380;
  --presentational-color-cyan-5: #0096a3;
  --presentational-color-cyan-6: #00bac7;
  --presentational-color-cyan-7: #00c7d1;
  --presentational-color-cyan-8: #00dee6;
  --presentational-color-cyan-9: #00f6fa;
  --presentational-color-indigo-0: #0f0e2f;
  --presentational-color-indigo-1: #232386;
  --presentational-color-indigo-2: #292cbc;
  --presentational-color-indigo-3: #343ada;
  --presentational-color-indigo-4: #5259e5;
  --presentational-color-indigo-5: #727aee;
  --presentational-color-indigo-6: #9ca4f6;
  --presentational-color-indigo-7: #a8b0fa;
  --presentational-color-indigo-8: #bfc6fd;
  --presentational-color-indigo-9: #d6dcff;
  --presentational-color-purple-0: #190b32;
  --presentational-color-purple-1: #3e1881;
  --presentational-color-purple-2: #551cb0;
  --presentational-color-purple-3: #681cd9;
  --presentational-color-purple-4: #853deb;
  --presentational-color-purple-5: #a468f3;
  --presentational-color-purple-6: #c295f9;
  --presentational-color-purple-7: #cca1fc;
  --presentational-color-purple-8: #ddbefe;
  --presentational-color-purple-9: #ebd6ff;
  --presentational-color-plum-0: #3a1358;
  --presentational-color-plum-1: #4a1570;
  --presentational-color-plum-2: #66189a;
  --presentational-color-plum-3: #7e19be;
  --presentational-color-plum-4: #9d1de7;
  --presentational-color-plum-5: #bb55f1;
  --presentational-color-plum-6: #d48bf8;
  --presentational-color-plum-7: #dd9dfb;
  --presentational-color-plum-8: #e9b9fe;
  --presentational-color-plum-9: #f2d1ff;
  --presentational-color-pink-0: #3b1b31;
  --presentational-color-pink-1: #50213f;
  --presentational-color-pink-2: #702956;
  --presentational-color-pink-3: #932f6d;
  --presentational-color-pink-4: #b83283;
  --presentational-color-pink-5: #d756a1;
  --presentational-color-pink-6: #e88cc0;
  --presentational-color-pink-7: #ef9ac9;
  --presentational-color-pink-8: #f6b7d8;
  --presentational-color-pink-9: #fad1e6;
  --presentational-color-red-0: #4f0817;
  --presentational-color-red-1: #67091a;
  --presentational-color-red-2: #8a0a1d;
  --presentational-color-red-3: #ad0b1e;
  --presentational-color-red-4: #d50b1c;
  --presentational-color-red-5: #f73b45;
  --presentational-color-red-6: #fb888a;
  --presentational-color-red-7: #fd9896;
  --presentational-color-red-8: #feb7b3;
  --presentational-color-red-9: #ffd0cc;
  --presentational-color-coral-0: #4b130c;
  --presentational-color-coral-1: #62190e;
  --presentational-color-coral-2: #842210;
  --presentational-color-coral-3: #a22911;
  --presentational-color-coral-4: #c53211;
  --presentational-color-coral-5: #ef491f;
  --presentational-color-coral-6: #f78b6e;
  --presentational-color-coral-7: #fa9c7f;
  --presentational-color-coral-8: #fdbba5;
  --presentational-color-coral-9: #ffd2c2;
}
