.component {
  background-color: var(--bgColor-default, var(--color-canvas-default));
  color: var(--color-fg-muted, var(--fgColor-muted));
  border: 1px solid var(--borderColor-default, var(--color-border-default));
  width: fit-content;
  padding: var(--control-xsmall-paddingBlock) var(--control-xsmall-paddingInline-normal);
}
