.component {
  background-color: var(--bgColor-default);
  color: var(--fgColor-muted);
  border: 1px solid var(--borderColor-default);
  width: fit-content;
  padding: var(--control-xsmall-paddingBlock) var(--control-xsmall-paddingInline-normal);
}
