.component {
  background-color: var(--color-canvas-default);
  color: var(--color-fg-muted);
  width: fit-content;
  padding: var(--control-xsmall-paddingBlock) var(--control-xsmall-paddingInline-normal);
}
