.Hidden {
  @media screen and (--viewportRange-narrow) {
    display: var(--hiddenDisplay-narrow);
  }

  @media screen and (--viewportRange-regular) {
    display: var(--hiddenDisplay-regular);
  }

  @media screen and (--viewportRange-wide) {
    display: var(--hiddenDisplay-wide);
  }
}
