.Hidden {
  &[data-hidden-narrow] {
    @media (--viewportRange-narrow) {
      display: none;
    }
  }

  &[data-hidden-regular] {
    @media (--viewportRange-regular) {
      display: none;
    }
  }

  &[data-hidden-wide] {
    @media (--viewportRange-wide) {
      display: none;
    }
  }
}
