/* Maintain resize cursor while dragging */
/* stylelint-disable-next-line selector-no-qualifying-type */
body[data-page-layout-dragging="true"] {
  cursor: col-resize;
}

/* Disable text selection while dragging */
/* stylelint-disable-next-line selector-no-qualifying-type */
body[data-page-layout-dragging="true"] * {
  user-select: none;
}

/* -----Root styling----- */
.Root {
  --spacing-none: 0;
  --spacing-condensed: var(--base-size-16);
  --spacing-normal: var(--base-size-16);

  @media screen and (min-width:1280px) {
    --spacing-normal: var(--base-size-24);
  }
}

.Root[data-padding='none'] {
  padding: 0;
}

.Root[data-padding='condensed'] {
  padding: var(--base-size-16);
}

.Root[data-padding='normal'] {
  padding: var(--base-size-16);

  @media screen and (min-width:1280px) {
    padding: var(--base-size-24);
  }
}

.RootWrapper {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}

.RootWrapper[data-width='medium'] {
  max-width: 768px;
}

.RootWrapper[data-width='large'] {
  max-width: 1012px;
}

.RootWrapper[data-width='full'] {
  max-width: 100%;
}

.RootWrapper[data-width='xlarge'] {
  max-width: 1280px;
}


.RootContent {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  max-width: 100%;
}

.HorizontalDivider {
  &:where([data-spacing='none']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-right: calc(-1 * var(--spacing-none));
    /* stylelint-disable-next-line primer/spacing */
    margin-left: calc(-1 * var(--spacing-none));
  }

  &:where([data-spacing='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-right: calc(-1 * var(--spacing-condensed));
    /* stylelint-disable-next-line primer/spacing */
    margin-left: calc(-1 * var(--spacing-condensed));
  }

  &:where([data-spacing='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-right: calc(-1 * var(--spacing-normal));
    /* stylelint-disable-next-line primer/spacing */
    margin-left: calc(-1 * var(--spacing-normal));
  }

  &:where([data-variant='none']) {
    display: none;
  }

  &:where([data-variant='line']) {
    display: block;
    height: 1px;
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--borderColor-default);
  }

  &:where([data-variant='filled']) {
    display: block;
    height: var(--base-size-8);
    background-color: var(--bgColor-inset);
    /* stylelint-disable-next-line primer/box-shadow */
    box-shadow: inset 0 -1px 0 0 var(--borderColor-default), inset 0 1px 0 0 var(--borderColor-default);
  }
  
  @media screen and (min-width: 768px) {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.VerticalDivider {
  position: relative;
  height: 100%;

  &:where([data-variant='none']) {
    display: none;
  }

  &:where([data-variant='line']) {
    display: block;
    width: 1px;
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--borderColor-default);
  }

  &:where([data-variant='filled']) {
    display: block;
    width: var(--base-size-8);
    background-color: var(--bgColor-inset);
    /* stylelint-disable-next-line primer/box-shadow */
    box-shadow: inset -1px 0 0 0 var(--borderColor-default), inset 1px 0 0 0 var(--borderColor-default);
  }
}


/* -----Header styling----- */
.Header {
  width: 100%;
}

.Header[data-gap='none'] {
  margin-bottom: 0;
}

.Header[data-gap='condensed'] {
  margin-bottom: var(--base-size-16);
}

.Header[data-gap='normal'] {
  margin-bottom: var(--base-size-16);

  @media screen and (min-width:1280px) {
    margin-bottom: var(--base-size-24);
  }
}

.HeaderContent[data-padding='none'] {
  padding: 0;
}

.HeaderContent[data-padding='condensed'] {
  padding: var(--base-size-16);
}

.HeaderContent[data-padding='normal'] {
  padding: var(--base-size-16);

  @media screen and (min-width:1280px) {
    padding: var(--base-size-24);
  }
}

.HeaderHorizontalDivider[data-padding='none'] {
  margin-top: 0;
}

.HeaderHorizontalDivider[data-padding='condensed'] {
  margin-top: var(--base-size-16);
}

.HeaderHorizontalDivider[data-padding='normal'] {
  margin-top: var(--base-size-16);

  @media screen and (min-width:1280px) {
    margin-top: var(--base-size-24);
  }
}

/* ----Content Styling---- */
.ContentWrapper {
  display: flex;
  min-width: 1px;
  flex-direction: column;
  order: 2;

  /* Set flex-basis to 0% to allow flex-grow to control the width of the content region.
     Without this, the content region could wrap onto a different line
     than the pane region on wide viewports if its contents are too wide. */
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.ContentWrapper[data-is-hidden='true'] {
  display: none;
}

.Content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-grow: 1;
}

.Content[data-width='full'] {
  max-width: 100%;
}

.Content[data-width='medium'] {
  max-width: 768px;
}

.Content[data-width='large'] {
  max-width: 1012px;
}

.Content[data-width='xlarge'] {
  max-width: 1280px;
}

.Content[data-padding='none'] {
  padding: 0;
}

.Content[data-padding='condensed'] {
  padding: var(--base-size-16); 
}

.Content[data-padding='normal'] {
  padding: var(--base-size-16);

  @media screen and (min-width:1280px) {
    padding: var(--base-size-24);
  }
}

/* ----TODO: Pane Styling---- */

.PaneWrapper {
  display: flex;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  flex-direction: column-reverse;

  @media screen and (min-width: 768px) {
    width: auto;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.PaneWrapper[data-position='end'] {
  order: 3;
  flex-direction: column;
}

.PaneWrapper[data-gap='none'] {
  margin-bottom: 0;
}

.PaneWrapper[data-gap='condensed'] {
  margin-bottom: var(--base-size-16);
}

.PaneWrapper[data-gap='normal'] {
  margin-bottom: var(--base-size-16);

  @media screen and (min-width:1280px) {
    margin-bottom: var(--base-size-24);
  }
}

.PaneWrapper[data-position='start'] {
  /* TODO: make REGION_ORDERs from PageLayout.module.css a top level variable */
  order: 1;
}

.PaneWrapper[data-position='end'][data-gap='none'] {
  margin-bottom: 0;
}

.PaneWrapper[data-position='end'][data-gap='condensed'] {
  margin-bottom: var(--base-size-16);
}

.PaneWrapper[data-position='end'][data-gap='normal'] {
  margin-bottom: var(--base-size-16);

  @media screen and (min-width:1280px) {
    margin-bottom: var(--base-size-24);
  }
}

.PaneWrapper[data-is-hidden='true'] {
  display: none;
}

.PaneVerticalDivider[data-gap='none'] {
  margin-left: 0;
}

.PaneVerticalDivider[data-gap='condensed'] {
  margin-left: var(--base-size-16);
}

.PaneVerticalDivider[data-gap='normal'] {
  margin-left: var(--base-size-16);

  @media screen and (min-width:1280px) {
    margin-left: var(--base-size-24);
  }
}

.PaneVerticalDivider[data-gap='none'][data-position='end'] {
  margin-right: 0;
}

.PaneVerticalDivider[data-gap='condensed'][data-position='end'] {
  margin-right: var(--base-size-16);
}

.PaneVerticalDivider[data-gap='normal'][data-position='end'] {
  margin-right: var(--base-size-16);

  @media screen and (min-width:1280px) {
    margin-right: var(--base-size-24);
  }
}

.PaneHorizontalDivider[data-gap='none'] {
  margin-top: 0;
}

.PaneHorizontalDivider[data-gap='condensed'] {
  margin-top: var(--base-size-16);
}

.PaneHorizontalDivider[data-gap='normal'] {
  margin-top: var(--base-size-16);

  @media screen and (min-width:1280px) {
    margin-top: var(--base-size-24);
  }
}

.PaneHorizontalDivider[data-gap='none'][data-position='end'] {
  margin-bottom: 0;
}

.PaneHorizontalDivider[data-gap='condensed'][data-position='end'] {
  margin-bottom: var(--base-size-16);
}

.PaneHorizontalDivider[data-gap='normal'][data-position='end'] {
  margin-bottom: var(--base-size-16);

  @media screen and (min-width:1280px) {
    margin-bottom: var(--base-size-24);
  }
}

/* ----Footer Styling ----- */
.FooterWrapper {
  width: 100%;
  order: 4;
}

.FooterWrapper[data-gap='none'] {
  margin-top: 0;
}

.FooterWrapper[data-gap='condensed'] {
  margin-top: var(--base-size-16);
}

.FooterWrapper[data-gap='normal'] {
  margin-top: var(--base-size-16);

  @media screen and (min-width:1280px) {
    margin-top: var(--base-size-24);
  }
}

.FooterHorizontalDivider[data-gap='none'] {
  margin-bottom: 0;
}

.FooterHorizontalDivider[data-gap='condensed'] {
  margin-bottom: var(--base-size-16);
}

.FooterHorizontalDivider[data-padding='normal'] {
  margin-bottom: var(--base-size-16);

  @media screen and (min-width:1280px) {
    margin-bottom: var(--base-size-24);
  }
}

.FooterContent[data-gap='none'] {
  padding: 0;
}

.FooterContent[data-gap='condensed'] {
  padding: var(--base-size-16);
}

.FooterContent[data-padding='normal'] {
  padding: var(--base-size-16);

  @media screen and (min-width:1280px) {
    padding: var(--base-size-24);
  }
}