/* Maintain resize cursor while dragging */
/* stylelint-disable-next-line selector-no-qualifying-type */
body[data-page-layout-dragging='true'] {
  cursor: col-resize;
}

/* Disable text selection while dragging */
/* stylelint-disable-next-line selector-no-qualifying-type */
body[data-page-layout-dragging='true'] * {
  user-select: none;
}

/* -----Root styling----- */
.PageLayoutRoot {
  /* Region Order */
  --region-order-header: 0;
  --region-order-pane-start: 1;
  --region-order-content: 2;
  --region-order-pane-end: 3;
  --region-order-footer: 4;

  /* Spacing Values */
  --spacing-none: 0;
  --spacing-condensed: var(--base-size-16);
  --spacing-normal: var(--base-size-16);

  @media screen and (min-width: 1280px) {
    --spacing-normal: var(--base-size-24);
  }

  &:where([data-padding='none']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-none);
  }

  &:where([data-padding='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-condensed);
  }

  &:where([data-padding='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-normal);
  }

  /* Pane Values */

  --pane-width-small: 100%;
  --pane-width-medium: 100%;
  --pane-width-large: 100%;
  --pane-max-width-diff: 511px;

  @media screen and (min-width: 768px) {
    --pane-width-small: 240px;
    --pane-width-medium: 256px;
    --pane-width-large: 256px;
  }

  @media screen and (min-width: 1012px) {
    --pane-width-small: 256px;
    --pane-width-medium: 296px;
    --pane-width-large: 320px;
  }

  @media screen and (min-width: 1280px) {
    --pane-width-large: 336px;
    --pane-max-width-diff: 959px;
  }
}

.PageLayoutWrapper {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;

  &:where([data-width='medium']) {
    max-width: 768px;
  }

  &:where([data-width='large']) {
    max-width: 1012px;
  }

  &:where([data-width='full']) {
    max-width: 100%;
  }

  &:where([data-width='xlarge']) {
    max-width: 1280px;
  }
}

.PageLayoutContent {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  max-width: 100%;
}

.HorizontalDivider {
  &:where([data-spacing='none']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-right: calc(-1 * var(--spacing-none));
    /* stylelint-disable-next-line primer/spacing */
    margin-left: calc(-1 * var(--spacing-none));
  }

  &:where([data-spacing='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-right: calc(-1 * var(--spacing-condensed));
    /* stylelint-disable-next-line primer/spacing */
    margin-left: calc(-1 * var(--spacing-condensed));
  }

  &:where([data-spacing='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-right: calc(-1 * var(--spacing-normal));
    /* stylelint-disable-next-line primer/spacing */
    margin-left: calc(-1 * var(--spacing-normal));
  }

  &:where([data-variant='none']) {
    display: none;
  }

  &:where([data-variant='line']) {
    display: block;
    height: 1px;
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--borderColor-default);
  }

  &:where([data-variant='filled']) {
    display: block;
    height: var(--base-size-8);
    background-color: var(--bgColor-inset);
    box-shadow:
      /* stylelint-disable-next-line primer/box-shadow */
      inset 0 -1px 0 0 var(--borderColor-default),
      inset 0 1px 0 0 var(--borderColor-default);
  }

  @media screen and (min-width: 768px) {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.VerticalDivider {
  position: relative;
  height: 100%;

  &:where([data-variant='none']) {
    display: none;
  }

  &:where([data-variant='line']) {
    display: block;
    width: 1px;
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--borderColor-default);
  }

  &:where([data-variant='filled']) {
    display: block;
    width: var(--base-size-8);
    background-color: var(--bgColor-inset);
    box-shadow:
      /* stylelint-disable-next-line primer/box-shadow */
      inset -1px 0 0 0 var(--borderColor-default),
      inset 1px 0 0 0 var(--borderColor-default);
  }
}

.Header {
  width: 100%;

  &:where([data-gap='none']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-bottom: var(--spacing-none);
  }

  &:where([data-gap='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-bottom: var(--spacing-condensed);
  }

  &:where([data-gap='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-bottom: var(--spacing-normal);
  }
}

.HeaderContent {
  &:where([data-padding='none']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-none);
  }

  &:where([data-padding='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-condensed);
  }

  &:where([data-padding='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-normal);
  }
}

.HeaderHorizontalDivider {
  &:where([data-spacing='none']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: var(--spacing-none);
  }

  &:where([data-spacing='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: var(--spacing-condensed);
  }

  &:where([data-spacing='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: var(--spacing-normal);
  }
}

.ContentWrapper {
  display: flex;
  
  /* Hack to prevent overflowing content from pushing the pane region to the next line */
  min-width: 1px;
  flex-direction: column;
  order: 2;

  /* Set flex-basis to 0% to allow flex-grow to control the width of the content region.
     Without this, the content region could wrap onto a different line
     than the pane region on wide viewports if its contents are too wide. */
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  &:where([data-is-hidden='true']) {
    display: none;
  }
}

.Content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-grow: 1;

  &:where([data-width='medium']) {
    max-width: 768px;
  }

  &:where([data-width='large']) {
    max-width: 1012px;
  }

  &:where([data-width='full']) {
    max-width: 100%;
  }

  &:where([data-width='xlarge']) {
    max-width: 1280px;
  }

  &:where([data-padding='none']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-none);
  }

  &:where([data-padding='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-condensed);
  }

  &:where([data-padding='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-normal);
  }
}

.PaneWrapper {
  display: flex;
  width: 100%;
  margin-right: 0;
  margin-left: 0;

  &:where([data-is-hidden='true']) {
    display: none;
  }

  &:where([data-position='end']) {
    order: var(--region-order-pane-end);
    flex-direction: column;

    &:where([data-row-gap='none']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-top: var(--spacing-none);
    }

    &:where([data-row-gap='condensed']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-top: var(--spacing-condensed);
    }

    &:where([data-row-gap='normal']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-top: var(--spacing-normal);
    }
  }

  &:where([data-position='start']) {
    order: var(--region-order-pane-start);
    flex-direction: column-reverse;

    &:where([data-row-gap='none']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-bottom: var(--spacing-none);
    }

    &:where([data-row-gap='condensed']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-bottom: var(--spacing-condensed);
    }

    &:where([data-row-gap='normal']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-bottom: var(--spacing-normal);
    }
  }

  @media screen and (min-width: 768px) {
    width: auto;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    &:where([data-sticky]) {
      position: sticky;
      /* stylelint-disable-next-line primer/spacing */
      top: var(--offset-header);
      max-height: var(--sticky-pane-height);
    }

    &:where([data-position='end']) {
      flex-direction: row-reverse;

      &:where([data-column-gap='none']) {
        /* stylelint-disable-next-line primer/spacing */
        margin-left: var(--spacing-none);
      }
 
      &:where([data-column-gap='condensed']) {
        /* stylelint-disable-next-line primer/spacing */
        margin-left: var(--spacing-condensed);
      }

      &:where([data-column-gap='normal']) {
        /* stylelint-disable-next-line primer/spacing */
        margin-left: var(--spacing-normal);
      }
    }

    &:where([data-position='start']) {
      flex-direction: row;

      &:where([data-column-gap='none']) {
        /* stylelint-disable-next-line primer/spacing */
        margin-right: var(--spacing-none);
      }

      &:where([data-column-gap='condensed']) {
        /* stylelint-disable-next-line primer/spacing */
        margin-right: var(--spacing-condensed);
      }

      &:where([data-column-gap='normal']) {
        /* stylelint-disable-next-line primer/spacing */
        margin-right: var(--spacing-normal);
      }
    }
  }
}

.PaneVerticalDivider {
  &:where([data-gap='none']) {
    &:where([data-position='start']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-left: var(--spacing-none);
    }

    &:where([data-position='end']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-right: var(--spacing-none);
    }
  }

  &:where([data-gap='condensed']) {
    &:where([data-position='start']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-left: var(--spacing-condensed);
    }

    &:where([data-position='end']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-right: var(--spacing-condensed);
    }
  }

  &:where([data-gap='normal']) {
    &:where([data-position='start']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-left: var(--spacing-normal);
    }

    &:where([data-position='end']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-right: var(--spacing-normal);
    }
  }
}

.Pane {
  &:where([data-padding='none']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-none);
  }

  &:where([data-padding='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-condensed);
  }

  &:where([data-padding='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-normal);
  }

  @media screen and (min-width: 768px) {
    overflow: auto;
  }

  &:where([data-width-type='custom']) {
    width: var(--pane-custom-width);
  }

  &:where([data-width-type='small']) {
    width: var(--pane-width-small);
  }

  &:where([data-width-type='medium']) {
    width: var(--pane-width-medium);
  }

  &:where([data-width-type='large']) {
    width: var(--pane-width-large);
  }

  &:where([data-resizable]) {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: clamp(var(--pane-min-width), var(--pane-width), var(--pane-max-width));
    }
  }
}

.PaneHorizontalDivider {
  &:where([data-gap='none']) {
    &:where([data-position='start']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-top: var(--spacing-none);
    }

    &:where([data-position='end']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-bottom: var(--spacing-none);
    }
  }

  &:where([data-gap='condensed']) {
    &:where([data-position='start']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-top: var(--spacing-condensed);
    }

    &:where([data-position='end']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-bottom: var(--spacing-condensed);
    }
  }

  &:where([data-gap='normal']) {
    &:where([data-position='start']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-top: var(--spacing-normal);
    }

    &:where([data-position='end']) {
      /* stylelint-disable-next-line primer/spacing */
      margin-bottom: var(--spacing-normal);
    }
  }
}

.FooterWrapper {
  width: 100%;
  order: 4;

  &:where([data-gap='none']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: var(--spacing-none);
  }

  &:where([data-gap='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: var(--spacing-condensed);
  }

  &:where([data-gap='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: var(--spacing-normal);
  }
}

.FooterHorizontalDivider {
  &:where([data-gap='none']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-bottom: var(--spacing-none);
  }

  &:where([data-gap='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-bottom: var(--spacing-condensed);
  }

  &:where([data-gap='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    margin-bottom: var(--spacing-normal);
  }
}

.FooterContent {
  &:where([data-gap='none']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-none);
  }

  &:where([data-gap='condensed']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-condensed);
  }

  &:where([data-gap='normal']) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--spacing-normal);
  }
}
