.FullHeightContent {
  height: 100vh;
  max-width: calc(-1rem + 100vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.CloseButtonOverlay {
  position: absolute;
  left: var(--base-size-4);
  top: var(--base-size-4);
}

.ResponsiveWidth {
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 350px;
}

/* Responsive breakpoint for larger screens */
@media (min-width: 768px) {
  .ResponsiveWidth {
    /* stylelint-disable-next-line primer/responsive-widths */
    width: 500px;
  }
}

.TextInputWithMargin {
  margin-bottom: var(--base-size-8);
}

.TextAreaWithMargin {
  margin-bottom: var(--base-size-8);
}

.TextAreaWithMargin textarea {
  padding: var(--base-size-8);
}

.EditingTextInput {
  width: 100%;
  padding: var(--base-size-2) var(--base-size-8);
  text-align: left;
  color: var(--fgColor-default);
}

.EditingTextInput input {
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-title-size-medium);
  padding-left: 0;
  padding-right: 0;
}
