.MemexOverlayIssueTitleInput {
  padding-block: var(--base-size-2);
  padding-inline: var(--base-size-8);
  text-align: left;
  color: var(--fgColor-default);
}

.MemexOverlayIssueTitleInput input {
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-title-size-medium);
  padding-inline: 0;
}
