.FullHeightContent {
  height: 100vh;
  max-width: calc(-1rem + 100vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.CloseButtonOverlay {
  position: absolute;
  left: var(--base-size-4);
  top: var(--base-size-4);
}

.ResponsiveWidth {
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 350px;
}

/* Responsive breakpoint for larger screens */
@media (min-width: 768px) {
  .ResponsiveWidth {
    /* stylelint-disable-next-line primer/responsive-widths */
    width: 500px;
  }
}

.FormInput {
  margin-bottom: var(--base-size-8);
}

.FormTextarea {
  margin-bottom: var(--base-size-8);
}

.FormTextarea textarea {
  padding: var(--base-size-8);
}

.EditableTitle {
  width: 100%;
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  padding-left: var(--base-size-2);
  padding-right: var(--base-size-2);
  text-align: left;
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-title-size-large);
}
