/* TooltipV2.dev.stories.module.css */
.PaddedContainer {
  padding: var(--base-size-40);
}

.Popover[popover] {
  /* stylelint-disable-next-line color-named */
  background: red;
  font-size: var(--text-title-size-small);
}
