:where(.Avatar) {
  display: inline-block;
  width: var(--avatarSize-regular);
  height: var(--avatarSize-regular);
  overflow: hidden; /* Ensure page layout in Firefox should images fail to load */
  /* stylelint-disable-next-line primer/typography */
  line-height: 1;
  vertical-align: middle;
  border-radius: 50%;
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 0 0 1px var(--avatar-borderColor);

  &:where([data-square]) {
    /* stylelint-disable-next-line primer/borders */
    border-radius: clamp(4px, calc(var(--avatarSize-regular) - 24px), var(--borderRadius-medium));
  }

  &:where([data-responsive]) {
    @media screen and (--viewportRange-narrow) {
      width: var(--avatarSize-narrow);
      height: var(--avatarSize-narrow);
    }

    @media screen and (--viewportRange-regular) {
      width: var(--avatarSize-regular);
      height: var(--avatarSize-regular);
    }

    @media screen and (--viewportRange-wide) {
      width: var(--avatarSize-wide);
      height: var(--avatarSize-wide);
    }
  }
}

.AvatarContainer {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.StatusIcon {
  position: absolute;
  right: calc(-1 * var(--base-size-4));
  bottom: calc(-1 * var(--base-size-4));
  display: flex;
  /* stylelint-disable-next-line primer/borders */
  border-radius: 100px;
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 0 0 2px var(--bgColor-default, var(--color-canvas-default));
  background-color: var(--bgColor-default, var(--color-canvas-default));
  /* stylelint-disable-next-line primer/typography */
  line-height: 1;
}
