.RedContainer {
  background-color: var(--bgColor-danger-muted);
  padding: var(--base-size-16);
}

.GreenContainer {
  background-color: var(--bgColor-success-muted);
  padding: var(--base-size-16);
}
