.Chord {
  display: inline-flex;
  border: 1px solid;
  font-weight: normal;
  font-family: normal;
  gap: 0.5ch;
  box-shadow: none;
  vertical-align: baseline;
  overflow: hidden;
  justify-content: center;
}

.ChordNormal {
  background: var(--bgColor-transparent);
  color: var(--fgColor-muted);
  border-color: var(--borderColor-default);
}

.ChordOnEmphasis {
  background: var(--counter-bgColor-emphasis);
  color: var(--fgColor-onEmphasis);
  border-color: transparent;
}

.ChordOnPrimary {
  background: var(--button-primary-bgColor-active);
  color: var(--fgColor-onEmphasis);
  border-color: transparent;
}

.ChordSmall {
  border-radius: var(--borderRadius-small, 3px);
  font-size: 11px;
  padding: 2px;
  line-height: 8px;
  min-width: var(--base-size-16);
}

.ChordNormal:not(.ChordSmall) {
  border-radius: var(--borderRadius-medium, 6px);
  font-size: var(--text-body-size-small, 0.75rem);
  padding: var(--base-size-4);
  line-height: 10px;
  min-width: var(--base-size-20);
}
