@layer primer.react.components.FilteredActionList {
  .LoadingSkeleton {
    /* stylelint-disable-next-line primer/borders */
    border-radius: 4px;
  }

  .LoadingSpinner {
    padding: var(--base-size-16);
    flex-grow: 1;
    align-content: center;
    text-align: center;
    height: 100%;
  }

  .LoadingSkeletonContainer {
    padding: var(--base-size-8);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}
