.Container {
  display: flex;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
}

.FullScreenTextInput {
  @media screen and (--viewportRange-narrow) {
    font-size: var(--text-title-size-small);
  }
}