* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

table {
  border-collapse: collapse;
}

@import "primer-support/index.scss";

// Button
@import "primer-buttons/index.scss";
// TextInput
@import "primer-forms/lib/form-control.scss";
// UnderlineNav
@import "primer-navigation/lib/underline-nav.scss";
// StateLabel
@import "primer-labels/index.scss";
// Flash
@import "primer-alerts/index.scss";
// Avatar
@import "primer-avatars/index.scss";
// BranchName
@import "primer-branch-name/index.scss";
// Tooltip
@import "primer-tooltips/index.scss";
