* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.markdown-body table {
  border-collapse: collapse;
}

@import "primer-buttons/index.scss";
@import "primer-forms/index.scss";
@import "primer-layout/index.scss";
@import "primer-navigation/index.scss";
@import "primer-product/index.scss";
@import "primer-tooltips/index.scss";
@import "primer-utilities/index.scss";
