@layer primer.react.components.ActionList {
  .List[data-has-active-descendant],
  .List:focus-within {
    --item-hover-bg-override: none;
    --item-hover-divider-border-color-override: var(--borderColor-muted);
  }
}
