.TokenButton {
  display: inline-flex;
  padding: 0;
  margin-left: var(--base-size-4);
  font-family: inherit;
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;
  border-radius: var(--borderRadius-full);
  justify-content: center;
  align-items: center;
  appearance: none;
  align-self: baseline;
}

.TokenButton[data-size='small'] {
  width: 16px;
  height: 16px;
}

.TokenButton[data-size='medium'] {
  width: 20px;
  height: 20px;
}

.TokenButton[data-size='large'] {
  width: 24px;
  height: 24px;
}

.TokenButton[data-size='xlarge'] {
  width: 32px;
  height: 32px;
}

.Bigger {
  margin-left: var(--base-size-8);
}

.TokenButton:hover,
.TokenButton:focus {
  /* TODO: choose a better functional color variable for this */
  background-color: var(--bgColor-neutral-muted);
}

.TokenButton:active {
  /* TODO: choose a better functional color variable for this */
  background-color: var(--bgColor-neutral-muted);
}
