.SingleExampleContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}

.ExampleCollectionContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--base-size-40);
}

.InteractiveRow {
  display: flex;
  align-items: flex-start;
  gap: var(--base-size-8);
}
