:root {
  --spacing: calc(var(--base-size-4) * 2);
}

.AvatarContainer {
  display: block;
}

.Avatar {
  width: 100%;
  height: 100%;
}

.Token {
  padding-left: var(--base-size-4) !important;
}

.AvatarContainer:where([data-size='small']) {
  width: calc(16px - var(--spacing));
  height: calc(16px - var(--spacing));
}

.AvatarContainer:where([data-size='medium']) {
  width: calc(20px - var(--spacing));
  height: calc(20px - var(--spacing));
}

.AvatarContainer:where([data-size='large']) {
  width: calc(24px - var(--spacing));
  height: calc(24px - var(--spacing));
}

.AvatarContainer:where([data-size='xlarge']) {
  width: calc(32px - var(--spacing));
  height: calc(32px - var(--spacing));
}
