.IssueLabel {
  /* Color variables - dynamically set via inline CSS custom properties */
  --label-r: 153;
  --label-g: 153;
  --label-b: 153;
  --label-h: 0;
  --label-s: 0;
  --label-l: 60;
  --perceived-lightness: calc(
    ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255
  );
  --lightness-switch: max(0, min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1));

  position: relative;
  border-width: var(--borderWidth-thin);
  border-style: solid;
}

/* Light mode styles */
.IssueLabel:where([data-in-color-mode*='light'], [data-in-color-mode='auto']) {
  --lightness-threshold: 0.453;
  --border-threshold: 0.96;
  --border-alpha: max(0, min(calc((var(--perceived-lightness) - var(--border-threshold)) * 100), 1));
  /* stylelint-disable-next-line primer/colors */
  background: rgb(var(--label-r), var(--label-g), var(--label-b));
  /* stylelint-disable-next-line primer/colors */
  color: hsl(0deg, 0%, calc(var(--lightness-switch) * 100%));
  /* stylelint-disable-next-line primer/colors */
  border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) - 25) * 1%), var(--border-alpha));
}

/* Dark mode styles */
.IssueLabel:where([data-in-color-mode*='dark']) {
  --lightness-threshold: 0.6;
  --background-alpha: 0.18;
  --border-alpha: 0.3;
  --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));

  /* stylelint-disable-next-line primer/colors */
  background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
  /* stylelint-disable-next-line primer/colors */
  color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
  /* stylelint-disable primer/colors */
  border-color: hsla(
    var(--label-h),
    calc(var(--label-s) * 1%),
    calc((var(--label-l) + var(--lighten-by)) * 1%),
    var(--border-alpha)
  );
  /* stylelint-enable primer/colors */
}

/* Selected state */
.IssueLabel:where(
    [data-selected='true'][data-in-color-mode*='light'],
    [data-selected='true'][data-in-color-mode='auto']
  ) {
  /* stylelint-disable-next-line primer/colors */
  background: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) - 5) * 1%));
}

.IssueLabel:where([data-selected='true']) {
  outline: none;
}

.IssueLabel:where([data-selected='true'])::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: calc(var(--base-size-2) * -1);
  right: calc(var(--base-size-2) * -1);
  bottom: calc(var(--base-size-2) * -1);
  left: calc(var(--base-size-2) * -1);
  display: block;
  pointer-events: none;
  border-radius: var(--borderRadius-full);
}

.IssueLabel:where(
    [data-selected='true'][data-in-color-mode*='light'],
    [data-selected='true'][data-in-color-mode='auto']
  )::after {
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 0 0 2px rgb(var(--label-r), var(--label-g), var(--label-b));
}

.IssueLabel:where([data-selected='true'][data-in-color-mode='dark'])::after {
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 0 0 2px hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
}

/* Interactive hover states */
.IssueLabel:where(
    [data-cursor-is-interactive='true']:hover[data-in-color-mode*='light'],
    [data-cursor-is-interactive='true']:hover[data-in-color-mode='auto']
  ) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    linear-gradient(
      rgb(var(--label-r), var(--label-g), var(--label-b)),
      rgb(var(--label-r), var(--label-g), var(--label-b))
    );
  box-shadow: var(--shadow-resting-medium);
}

.IssueLabel:where([data-cursor-is-interactive='true']:hover[data-in-color-mode='dark']) {
  /* stylelint-disable-next-line primer/colors */
  background: hsla(var(--label-h), calc(var(--label-s) * 1%), calc(calc(var(--label-l) + 10) * 1%), 0.3);
  box-shadow: var(--shadow-resting-medium);
}

/* Remove button styling */
.IssueLabel:where([data-has-remove-button='true']) {
  padding-right: 0;
}

.RemoveButton:where([data-has-multiple-action-targets='true']) {
  position: relative;
  z-index: 1;
}
