.CheckboxGroup {
  color: var(--fgColor-default, var(--color-fg-default));
  /* stylelint-disable-next-line primer/spacing */
  margin-top: 15px;
  /* stylelint-disable-next-line primer/spacing */
  margin-bottom: 15px;
}

.MutedCaption {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  font-weight: var(--text-caption-weight);
}

.BoldLabel {
  color: var(--fgColor-default, var(--color-fg-default));
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
}
