.Blankslate {
  --blankslate-outer-padding-block: var(--base-size-32);
  --blankslate-outer-padding-inline: var(--base-size-32);
  display: grid;
  justify-items: center;
  padding: var(--blankslate-outer-padding-block) var(--blankslate-outer-padding-inline);
}

.Blankslate[data-spacious='true'] {
  --blankslate-outer-padding-block: var(--base-size-80);
  --blankslate-outer-padding-inline: var(--base-size-40);
}

.Blankslate[data-border='true'] {
  border: var(--borderWidth-thin) solid var(--borderColor-default, var(--borderColor-default-local-fallback));
  border-radius: var(--borderRadius-medium);
}

.Blankslate[data-narrow='true'] {
  margin: 0 auto;
  max-width: 485px;
}

/* Blankslate.Visual */
/* ------------------------------ */
.Blankslate-Visual {
  color: var(--fgColor-muted, var(--fgColor-muted-local-fallback));
  margin-bottom: var(--stack-gap-normal);
}

/* Blankslate.Heading */
/* ------------------------------ */
.Blankslate-Heading,
.Blankslate-Description {
  margin: 0;
  margin-bottom: var(--stack-gap-condensed);
}

.Blankslate-Heading {
  font-size: var(--text-title-size-medium);
  font-weight: var(--text-title-weight-medium);
}

/* Blankslate.Description */
/* ------------------------------ */
.Blankslate-Description {
  color: var(--fgColor-muted, var(--fgColor-muted-local-fallback));
  font-size: var(--text-body-size-large);
}

/* Blankslate.Action */
/* ------------------------------ */
.Blankslate-Action {
  margin-top: var(--stack-gap-normal);
}

.Blankslate-Action:first-of-type {
  margin-top: var(--stack-gap-spacious);
}

.Blankslate-Action:last-of-type {
  margin-bottom: var(--stack-gap-condensed);
}

/* Container query to adapt to
   small areas                    */
/* ------------------------------ */

/* At the time these styles were written,
   `34rem` was our "small" breakpoint width */
@container (max-width: 34rem) {
  .Blankslate {
    --blankslate-outer-padding-block: var(--base-size-20);
    --blankslate-outer-padding-inline: var(--base-size-20);
  }

  .Blankslate[data-spacious='true'] {
    --blankslate-outer-padding-block: var(--base-size-44);
    --blankslate-outer-padding-inline: var(--base-size-28);
  }

  /* Blankslate.Heading */
  /* ------------------------------ */
  .Blankslate-Visual {
    margin-bottom: var(--stack-gap-condensed);
    max-width: var(--base-size-24);
  }

  .Blankslate-Visual svg {
    width: 100%;
  }

  /* Blankslate.Heading */
  /* ------------------------------ */
  .Blankslate-Heading {
    font-size: var(--text-title-size-small);
  }

  /* Blankslate.Description */
  /* ------------------------------ */
  .Blankslate-Description {
    font-size: var(--text-body-size-medium);
  }

  /* Blankslate.Action */
  /* ------------------------------ */
  .Blankslate-Action {
    margin-top: var(--stack-gap-condensed);
  }

  .Blankslate-Action:first-of-type {
    margin-top: var(--stack-gap-normal);
  }

  .Blankslate-Action:last-of-type {
    margin-bottom: calc(var(--stack-gap-condensed) / 2);
  }
}
