name: CI
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
    branches:
      - main
    types:
      - checks_requested

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Check for unformatted files
        run: npm run format:diff

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Lint JavaScript
        run: npm run lint
      - name: Lint CSS
        run: npm run lint:css
      - name: Lint markdown
        run: npm run lint:md
      - name: Lint npm packages
        run: npx turbo lint:npm

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        react-version: ['react-18', 'react-19']
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Set up turbo cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Install dependencies
        run: npm ci
      - if: ${{ matrix.react-version == 'react-19' }}
        run: node script/setup-react-19.mts
      - name: Build
        run: npm run build
        continue-on-error: ${{ matrix.react-version == 'react-19' }}
      - name: Run tests defined in vitest
        uses: docker://mcr.microsoft.com/playwright:v1.55.0-jammy
        with:
          args: npm test

  type-check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        react-version: ['react-18', 'react-19']
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Set up turbo cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Install dependencies
        run: npm ci
      - if: ${{ matrix.react-version == 'react-19' }}
        run: node script/setup-react-19.mts
      - name: Build project
        run: npm run build
        continue-on-error: ${{ matrix.react-version == 'react-19' }}
      - name: Type check
        run: npm run type-check
        continue-on-error: ${{ matrix.react-version == 'react-19' }}

  examples:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        react-version: ['react-18', 'react-19']
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Set up turbo cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Install dependencies
        run: npm ci
      - if: ${{ matrix.react-version == 'react-19' }}
        run: node script/setup-react-19.mts
      - name: Build
        run: npx turbo build
        continue-on-error: ${{ matrix.react-version == 'react-19' }}

  build-components-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Set up turbo cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Install dependencies
        run: npm ci
      - name: Build doc-gen
        run: npm run build --workspace @primer/doc-gen
      - name: Build storybook to generate story IDs
        run: npm run build:storybook
        working-directory: packages/react
      - name: Build components.json
        run: npx tsx script/components-json/build.ts --storybook-data 'storybook-static/index.json'
        working-directory: packages/react
      - name: Build hooks.json
        run: npx tsx script/hooks-json/build.ts
        working-directory: packages/react

  sizes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Set up turbo cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Get export sizes
        run: node packages/react/script/get-export-sizes.cjs

  vrt-runner:
    runs-on: vrt-runner
    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Set up turbo cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Install dependencies
        run: npm ci
      - name: Run Visual Regression Tests
        run: npx vitest run -t '\@vrt' --reporter=blob --outputFile '.vitest/reports/blob-${{matrix.shard}}' --shard="${{ matrix.shard }}/${{ strategy.job-total }}"
      - name: Upload report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: vrt-${{ matrix.shard }}
          path: .vitest/reports/blob
          retention-days: 1

  vrt:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: vrt-runner
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: install dependencies
        run: npm ci
      - name: Download all reports
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          path: .vitest/reports/blob
          pattern: vrt-*
          merge-multiple: true
      - name: Merge all reports
        run: npx vitest merge-reports --reporter html .vitest/reports/blob
      - name: Upload report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: vrt-report
          path: .vitest/reports/html
