name: 'Code Scan'

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  codescan:
    name: Scan the repository
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

      - uses: actions/github-script@5c56fde4671bc2d3592fb0f2c5b5bab9ddae03b1
        id: file-counts
        with:
          script: |
            const fg = require('fast-glob')
            const fs = require('fs')
            const path = require('path')
            const files = await fg.glob(['packages/react/src/**/*.tsx', 'packages/react/src/**/*.module.css'], {
              ignore: [
                '**/__tests__/**',
                '**/_*.tsx',
                '**/*.figma.tsx',
                '**/*.stories.tsx',
                '**/*.test.tsx',
                '**/CSSComponent/**',
                '**/hooks/**',
                '**/index.tsx',
                '**/utils/**',
              ],
            })

            const metrics = []

            for (const file of files) {
              const content = fs.readFileSync(file, 'utf8')
              const name = path.parse(file).name.replace('.module', '')
              if (file.endsWith('.tsx')) {
                const matched = content.match(/.`$([^`]*)^`$/gm)
                if (matched) {
                  const count = matched.join('\n').split('\n').length
                  metrics.push(
                    `- type: "count"\n  name: "primer.react.styled-system.count"\n  value: ${count}\n  tags:\n    - "path:${file}"\n    - "component:${name}"`,
                  )
                }
              } else {
                const count = content.split('\n').length
                metrics.push(
                  `- type: "count"\n  name: "primer.react.css-module.count"\n  value: ${count}\n  tags:\n    - "path:${file}"\n    - "component:${name}"`,
                )
              }
            }

            core.setOutput('metrics', metrics.join('\n'))

      - name: Build count
        uses: masci/datadog@f0cad7cba58a34e65535732564c9bf174ee89006
        with:
          api-key: ${{ secrets.datadog_api_key }}
          metrics: ${{ steps.file-counts.outputs.metrics }}
