name: Migration Status
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  react-compiler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run migration script
        run: |
          node --experimental-strip-types script/react-compiler-migration-status.mts >> $GITHUB_STEP_SUMMARY

  styled-components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run migration script
        run: |
          node --experimental-strip-types script/styled-components-migration-status.mts >> $GITHUB_STEP_SUMMARY
