name: Migration Status
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  react-compiler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run migration script
        run: node script/react-compiler-migration-status.mts >> $GITHUB_STEP_SUMMARY

  ts-docgen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build doc-gen
        run: npm run build -w @primer/doc-gen
      - name: Run migration script
        run: node script/ts-docs-status.mts >> $GITHUB_STEP_SUMMARY
