name: Primer Components
on: [push]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Install dependencies
        run: yarn

      - name: Publish to the npm registry
        uses: "primer/publish@2ee7d87e9ef6a2fc8bdd94de97a19f8ac0bcc05c"
        with:
          args: "-- --unsafe-perm --allow-same-version"
          release-branch: "main"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
