name: Pull request

on:
  pull_request:

jobs:
  release-template:
    # Only run on Release Tracking branch
    if: ${{ github.head_ref == 'changeset-release/main' }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'

      - name: Get or Create Comment
        uses: actions/github-script@5c56fde4671bc2d3592fb0f2c5b5bab9ddae03b1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs')
            const body = await fs.readFileSync('.github/release_template.md', 'utf8')
            const result = await github.rest.issues.listComments({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo
            });
            const botComments = result.data.filter(c => c.user.login == 'github-actions[bot]')
            if (!botComments.length) {
              await github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: body.replace('{{PR_AUTHOR}}', context.payload.sender.login)
              })
            }
