name: Release

on:
  push:
    branches:
      - main
      - next-major

jobs:
  release-main:
    if: github.ref_name == 'main'
    name: Main
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42
        id: app-token
        with:
          app-id: ${{ vars.PRIMER_APP_ID_SHARED }}
          private-key: ${{ secrets.PRIMER_APP_PRIVATE_KEY_SHARED }}

      - name: Create release pull request or publish to npm
        id: changesets
        # Uses SHA for security hardening
        # Currently pointing at a commit for the v1.4.1 tag
        # Please keep this up-to-date if you're changing the SHA below
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba
        with:
          title: Release tracking
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
      - uses: ./.github/actions/upload-versions

  release-next-major:
    if: github.ref_name == 'next-major'
    name: Next major
    uses: primer/.github/.github/workflows/release_with_app.yml@v2.0.0
    with:
      title: Release tracking (next major)
    secrets:
      npm_token: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
      app-id: ${{ vars.PRIMER_APP_ID_SHARED }}
      private-key: ${{ secrets.PRIMER_APP_PRIVATE_KEY_SHARED }}
      client-id: ${{ vars.PRIMER_APP_CLIENT_ID_SHARED }}
      client-secret: ${{ secrets.PRIMER_APP_CLIENT_SECRET_SHARED }}
      installation-id: ${{ vars.PRIMER_APP_INSTALLATION_ID_SHARED }}
