name: Release notification
on:
  release:
    types:
      - published

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: gr2m/release-notifier-action@v1
        with:
          app_id: ${{ secrets.RELEASE_NOTIFIER_APP_ID }}
          private_key: ${{ secrets.RELEASE_NOTIFIER_APP_PRIVATE_KEY }}
          dispatch_event_type: 'release:primer/react'
