name: Release

on:
  push:
    branches:
      - main
      - next-major

jobs:
  release-main:
    if: github.ref_name == 'main'
    name: Main
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b
        id: app-token
        with:
          app-id: ${{ vars.PRIMER_APP_ID_SHARED }}
          private-key: ${{ secrets.PRIMER_APP_PRIVATE_KEY_SHARED }}

      - name: Create release pull request or publish to npm
        id: changesets
        # Uses SHA for security hardening
        # Currently pointing at a commit for the v1.4.1 tag
        # Please keep this up-to-date if you're changing the SHA below
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba
        with:
          title: Release tracking
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
      - name: Install glob package
        run: npm install glob --no-package-lock
      - name: Write workspace versions as JSON file
        uses: actions/github-script@a3e7071a34d7e1f219a8a4de9a5e0a34d1ee1293
        with:
          script: |
            const fs = require('node:fs');
            const {globSync} = require('glob')

            const packageJsonPaths = globSync('packages/**/package.json', { ignore: ['**/node_modules/**'] })
            const output = {
              packages: [],
            };

            for (const packageJsonPath of packageJsonPaths) {
              const contents = fs.readFileSync(packageJsonPath, 'utf8');
              const packageJson = JSON.parse(contents);
              if (packageJson.private) {
                continue;
              }

              const pkg = {
                name: packageJson.name,
                version: packageJson.version,
              };
              output.packages.push(pkg);
            }

            fs.writeFileSync('version.json', JSON.stringify(output, null, 2));
      - name: Upload version file
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: version
          path: version.json

  release-next-major:
    if: github.ref_name == 'next-major'
    name: Next major
    uses: primer/.github/.github/workflows/release_with_app.yml@v2.0.0
    with:
      title: Release tracking (next major)
    secrets:
      npm_token: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
      app-id: ${{ vars.PRIMER_APP_ID_SHARED }}
      private-key: ${{ secrets.PRIMER_APP_PRIVATE_KEY_SHARED }}
      client-id: ${{ vars.PRIMER_APP_CLIENT_ID_SHARED }}
      client-secret: ${{ secrets.PRIMER_APP_CLIENT_SECRET_SHARED }}
      installation-id: ${{ vars.PRIMER_APP_INSTALLATION_ID_SHARED }}
