name: status-checks

on:
  issue_comment:
    types: [created]

permissions:
  pull-requests: write
  issues: write
  checks: read

jobs:
  override:
    runs-on: ubuntu-latest
    steps:
      - name: command
        id: command
        uses: github/command@4002f2aad7964e6d776c2f91bd3f1f87bf6af793 # v2.0.2
        with:
          command: .skip-github-ci
          allowed_contexts: pull_request
          permissions: write
      - if: ${{ steps.command.outputs.continue == 'true' }}
        run: |
          SHA=$(gh pr view $NUMBER --json headRefOid --jq '.headRefOid')

          gh api -X POST "/repos/primer/react/statuses/$SHA" \
            -f state='success' \
            -f context='github-ui / ci' \
            -f description='Manual override' \
            -f target_url="$COMMENT_URL"

          gh api -X POST "/repos/primer/react/statuses/$SHA" \
            -f state='success' \
            -f context='github-ui / projects' \
            -f description='Manual override' \
            -f target_url="$COMMENT_URL"
        env:
          COMMENT_URL: ${{ github.event.comment.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NUMBER: ${{ github.event.issue.number }}
