name: status-checks

on:
  pull_request:
    types: [labeled, opened, reopened, synchronize]

permissions:
  pull-requests: write
  checks: write

jobs:
  override:
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.pull_request.labels.*.name, 'skip github ci') }}
    steps:
      - name: Override status checks
        run: |
          SHA="${{ github.event.pull_request.head.sha }}"

          gh api -X POST "/repos/primer/react/statuses/$SHA" \
            -f state='success' \
            -f context='github-ui / ci' \
            -f description='Skipped'

          gh api -X POST "/repos/primer/react/statuses/$SHA" \
            -f state='success' \
            -f context='github-ui / projects' \
            -f description='Skipped'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
