name: VRT Reports
on:
  workflow_call:
    outputs:
      aat-all-flags:
        value: ${{ jobs.vrt-all-flags.result }}
      aat-no-flag:
        value: ${{ jobs.vrt.result }}

concurrency:
  group: vrt-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  vrt-runner:
    runs-on: ubuntu-latest-16-cores
    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2, 3, 4]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build storybook
        run: npx storybook build
        working-directory: packages/react
      - name: Run storybook
        id: storybook
        working-directory: packages/react
        run: |
          npx serve -l 6006 storybook-static &
          pid=$!
          echo "pid=$pid" >> $GITHUB_OUTPUT
          sleep 5
      - name: Run VRT
        uses: docker://mcr.microsoft.com/playwright:v1.51.0-jammy
        env:
          STORYBOOK_URL: 'http://172.17.0.1:6006'
        with:
          args: npx playwright test --grep @vrt --shard="${{ matrix.shard }}/${{ strategy.job-total }}"
      - name: Stop storybook
        run: kill ${{ steps.storybook.outputs.pid }}
      - name: Upload report
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: vrt-no-flag-${{ matrix.shard }}
          path: blob-report
          retention-days: 1

  vrt:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: vrt-runner
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: install dependencies
        run: npm ci
      - name: download all reports
        uses: actions/download-artifact@v4
        with:
          path: all-blob-reports
          pattern: vrt-no-flag-*
          merge-multiple: true
      - name: merge all reports
        run: npx playwright merge-reports --reporter html ./all-blob-reports
      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: vrt-no-flag
          path: playwright-report
      - name: check vrt-runner job status
        if: ${{ needs.vrt-runner.result == 'failure' }}
        run: exit 1

  vrt-runner-all-flags:
    runs-on: ubuntu-latest-16-cores
    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2, 3, 4]
    env:
      VITE_PRIMER_REACT_CSS_MODULES_STAFF: 1
      VITE_PRIMER_REACT_CSS_MODULES_GA: 1
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build storybook
        run: npx storybook build
        working-directory: packages/react
      - name: Run storybook
        id: storybook
        working-directory: packages/react
        run: |
          npx serve -l 6006 storybook-static &
          pid=$!
          echo "pid=$pid" >> $GITHUB_OUTPUT
          sleep 5
      - name: Run VRT
        uses: docker://mcr.microsoft.com/playwright:v1.51.0-jammy
        env:
          STORYBOOK_URL: 'http://172.17.0.1:6006'
        with:
          args: npx playwright test --grep @vrt --shard="${{ matrix.shard }}/${{ strategy.job-total }}"
      - name: Stop storybook
        run: kill ${{ steps.storybook.outputs.pid }}
      - name: Upload report
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: vrt-all-flags-${{ matrix.shard }}
          path: blob-report
          retention-days: 1

  vrt-all-flags:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: vrt-runner-all-flags
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: install dependencies
        run: npm ci
      - name: download all reports
        uses: actions/download-artifact@v4
        with:
          path: all-blob-reports
          pattern: vrt-all-flags-*
          merge-multiple: true
      - name: merge all reports
        run: npx playwright merge-reports --reporter html ./all-blob-reports
      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: vrt-all-flags
          path: playwright-report
      - name: check vrt-runner-all-flags job status
        if: ${{ needs.vrt-runner-all-flags.result == 'failure' }}
        run: exit 1
