.MoreButtonContainer {
  display: flex;
  visibility: hidden;
  align-items: center;

  /* Visibility is controlled by scroll-state query instead of React state so that it's known during SSR */
  @container underline-wrapper scroll-state(scrollable: block) {
    visibility: visible;
  }
}

.OverflowMenuItem [aria-current] .OverflowMenuItemLabel {
  font-weight: var(--base-text-weight-semibold);
}

.MoreButtonDivider {
  display: inline-block;
  border-left: var(--borderWidth-default) solid var(--borderColor-muted);
  width: 0;
  margin-right: var(--base-size-4);
  height: var(--base-size-24);
}

/* More button styles migrated from styles.ts (was moreBtnStyles) */
.MoreButton {
  margin: 0; /* reset Safari extra margin */
  border: 0;
  background: transparent;
  font-weight: var(--base-text-weight-normal);
  box-shadow: none;
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);

  & > [data-component='trailingVisual'] {
    margin-left: 0;
  }
}
