.ScrollContainer {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--borderColor-muted) transparent;
  scrollbar-gutter: stable;

  /* Progressive enhancement: Detect overflow using scroll-based animations.
  This lets us calculate the icon visibility during SSR. */
  animation: detect-overflow linear;
  animation-timeline: scroll(self inline);

  --UnderlineNav_icons-display: inline;

  [data-component='icon'] {
    display: var(--UnderlineNav_icons-display);
  }

  /* Even on browsers that support scroll-driven animations, we still need to
  force icons to remain hidden with JS to avoid flickering as they cause/remove
  overflow. Once they are hidden once, they remain hidden for the life of the
  component. */
  &[data-hide-icons='true'] {
    animation: none;
    animation-timeline: none;

    --UnderlineNav_icons-display: none;
  }
}

@keyframes detect-overflow {
  0%,
  100% {
    --UnderlineNav_icons-display: none;
  }
}
