.ResponsiveCloseButtonContainer {
  position: relative;
}

.ResponsiveCloseButton {
  position: absolute;
  top: var(--base-size-8);
  right: var(--base-size-8);
  display: none;

  @media screen and (--viewportRange-narrow) {
    display: inline-grid;
  }
}

.Wrapper {
  anchor-scope: --anchored-overlay;
}

.Anchor {
  /* Anchor name, this is currently tied to `renderAnchor` */
  anchor-name: --anchored-overlay-anchor;
}

.AnchoredOverlay {
  /* Anchor position, this is currently tied to `<Overlay>` */
  position-anchor: --anchored-overlay-anchor;
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;
  position-visibility: anchors-visible;
  z-index: 100;
  position: fixed;

  &[data-side='outside-bottom'] {
    top: calc(anchor(bottom) + var(--base-size-4));
    left: anchor(left);
  }

  &[data-side='outside-top'] {
    margin-bottom: var(--base-size-4);
    bottom: anchor(top);
  }

  &[data-side='outside-left'] {
    right: anchor(left);
    top: anchor(top);
    margin-right: var(--base-size-4);
  }

  &[data-side='outside-right'] {
    left: anchor(right);
    top: anchor(top);
    margin-left: var(--base-size-4);
  }
}
